<section id="blog" class="blog-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10">
                <div class="section-title text-center pb-30">
                    <h3 class="title">{{ 'FOOTER.BLOG_TITLE' | translate }}</h3>
                    <p class="text">{{ 'FOOTER.BLOG_TEXT' | translate }}</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="blog-filters">
                    <button class="filter-btn" [class.active]="isCategoryActive(null)" (click)="filterItems(null)">
                        {{ 'FOOTER.BLOG_ALL' | translate }}
                    </button>
                    <button class="filter-btn" *ngFor="let category of categories" 
                            [class.active]="isCategoryActive(category.name)"
                            (click)="filterItems(category.name)">
                        {{ category.displayName }}
                    </button>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6" *ngFor="let item of getCurrentPageItems()">
                        <div class="single-blog mt-30">
                            <div class="blog-image">
                                <img [src]="item.image" [alt]="item.title">
                            </div>
                            <div class="blog-content">
                                <div class="blog-author">
                                    <div class="author">
                                        <div class="author-image">
                                            <img [src]="item.authorImage" [alt]="item.author">
                                        </div>
                                        <div class="author-name">
                                            <h6 class="name">{{ item.author }}</h6>
                                            <span class="date">{{ item.date | date }}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-title">
                                    <h3 class="title"><a [href]="item.link">{{ item.title }}</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="blog-pagination" *ngIf="totalPages > 1">
                    <button class="pagination-btn" [class.active]="currentPage === page" 
                            *ngFor="let page of getPageNumbers()"
                            (click)="goToPage(page)">
                        {{ page }}
                    </button>
                    <button class="pagination-btn" *ngIf="currentPage < totalPages" (click)="nextPage()">
                        <i class="lni lni-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section> 