<section id="home" class="slider_area">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="slider-content">&nbsp;</div>
        </div>
    </div>
</section>

<section class="white-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section-title text-center pb-10">
                    <h3 class="title">{{ 'FOOTER.BLOG_TITLE' | translate }}</h3>
                    <p class="text">{{ 'FOOTER.BLOG_TEXT' | translate }}</p>
                </div>
                <div class="blog-content">
                    <div class="blog-filters">
                        <button class="filter-btn active">{{ 'FOOTER.BLOG_ALL' | translate }}</button>
                        <button class="filter-btn">{{ 'FOOTER.BLOG_CATEGORY_1' | translate }}</button>
                        <button class="filter-btn">{{ 'FOOTER.BLOG_CATEGORY_2' | translate }}</button>
                        <button class="filter-btn">{{ 'FOOTER.BLOG_CATEGORY_3' | translate }}</button>
                    </div>
                    <div class="blog-grid">
                        <article class="blog-card">
                            <div class="blog-card-image">
                                <img src="assets/images/blog/blog-1.jpg" alt="Blog Post 1">
                                <div class="category">{{ 'FOOTER.BLOG_CATEGORY_1' | translate }}</div>
                            </div>
                            <div class="blog-card-content">
                                <div class="meta">
                                    <span class="date">{{ 'FOOTER.BLOG_DATE_1' | translate }}</span>
                                    <span class="author">{{ 'FOOTER.BLOG_AUTHOR_1' | translate }}</span>
                                </div>
                                <h4>{{ 'FOOTER.BLOG_POST_TITLE_1' | translate }}</h4>
                                <p>{{ 'FOOTER.BLOG_POST_EXCERPT_1' | translate }}</p>
                                <a href="#" class="read-more">{{ 'FOOTER.BLOG_READ_MORE' | translate }}</a>
                            </div>
                        </article>
                        <article class="blog-card">
                            <div class="blog-card-image">
                                <img src="assets/images/blog/blog-2.jpg" alt="Blog Post 2">
                                <div class="category">{{ 'FOOTER.BLOG_CATEGORY_2' | translate }}</div>
                            </div>
                            <div class="blog-card-content">
                                <div class="meta">
                                    <span class="date">{{ 'FOOTER.BLOG_DATE_2' | translate }}</span>
                                    <span class="author">{{ 'FOOTER.BLOG_AUTHOR_2' | translate }}</span>
                                </div>
                                <h4>{{ 'FOOTER.BLOG_POST_TITLE_2' | translate }}</h4>
                                <p>{{ 'FOOTER.BLOG_POST_EXCERPT_2' | translate }}</p>
                                <a href="#" class="read-more">{{ 'FOOTER.BLOG_READ_MORE' | translate }}</a>
                            </div>
                        </article>
                        <article class="blog-card">
                            <div class="blog-card-image">
                                <img src="assets/images/blog/blog-3.jpg" alt="Blog Post 3">
                                <div class="category">{{ 'FOOTER.BLOG_CATEGORY_3' | translate }}</div>
                            </div>
                            <div class="blog-card-content">
                                <div class="meta">
                                    <span class="date">{{ 'FOOTER.BLOG_DATE_3' | translate }}</span>
                                    <span class="author">{{ 'FOOTER.BLOG_AUTHOR_3' | translate }}</span>
                                </div>
                                <h4>{{ 'FOOTER.BLOG_POST_TITLE_3' | translate }}</h4>
                                <p>{{ 'FOOTER.BLOG_POST_EXCERPT_3' | translate }}</p>
                                <a href="#" class="read-more">{{ 'FOOTER.BLOG_READ_MORE' | translate }}</a>
                            </div>
                        </article>
                    </div>
                    <div class="blog-pagination">
                        <button class="pagination-btn active">1</button>
                        <button class="pagination-btn">2</button>
                        <button class="pagination-btn">3</button>
                        <button class="pagination-btn">
                            <i class="lni lni-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 