<!--====== SLIDER PART START ======-->
<section id="home" class="slider_area">
    <div id="carouselThree" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="slider-content">
                                <h1 i18n="@@sectionPersSolutionTitle" class="title">{{'PERSONALIZED_SOLUTION.TITLE' |
                                    translate }}</h1>
                                <p i18n="@@sectionPersSolutionSubtitle" class="text white">
                                    {{'PERSONALIZED_SOLUTION.SUBTITLE' | translate }}</p>
                                <p i18n="@@sectionPersSolutionText" class="text white">{{'PERSONALIZED_SOLUTION.TEXT' |
                                    translate }}
                                </p>
                                <ul class="slider-btn rounded-buttons">
                                    <li><a i18n="@@sectionPersSolutionContactButtonText" class="main-btn rounded-one"
                                            href="/solution-personalised/#contact">{{'PERSONALIZED_SOLUTION.CONTACT' |
                                            translate }}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="slider-image">
                                <img src="assets/images/marketing/Enterprise_Features.svg" alt="Hero">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="white-area">
    <div class="container">
        <div class="row compare-area-table justify-content-center">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="justify-content-between">
                            <div class="icon center">
                                <img src="assets/images/marketing/cloud.svg" alt="Shape">
                            </div>
                            <h4 i18n="@@featurePublicCloudTitle" class="features-title center ">
                                {{'PERSONALIZED_SOLUTION.SOLUTION1_TITLE' | translate }}</h4>
                        </div>
                        <div class="features-content">
                            <p i18n="@@featurePublicCloudText" class="text grey">
                                {{'PERSONALIZED_SOLUTION.SOLUTION1_SUBTITLE' | translate }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="justify-content-between">
                            <div class="icon center">
                                <img src="assets/images/marketing/paper-label-svgrepo-com.svg" alt="Shape">
                            </div>
                            <h4 i18n="@@featureWhitelabelTitle" class="features-title center ">
                                {{'PERSONALIZED_SOLUTION.SOLUTION2_TITLE' | translate }}</h4>
                        </div>
                        <div class="features-content">
                            <p i18n="@@featureWhitelabelText" class="text grey">
                                {{'PERSONALIZED_SOLUTION.SOLUTION2_SUBTITLE' | translate }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="justify-content-between">
                            <div class="icon center">
                                <img src="assets/images/marketing/database-cloud.svg" alt="Shape">
                            </div>
                            <h4 i18n="@@featurePrivateCloudTitle" class="features-title center">
                                {{'PERSONALIZED_SOLUTION.SOLUTION3_TITLE' | translate }}</h4>
                        </div>
                        <div class="features-content">
                            <p i18n="@@featurePrivateCloudText" class="text grey">
                                {{'PERSONALIZED_SOLUTION.SOLUTION3_SUBTITLE' | translate }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="justify-content-between">
                            <div class="icon center">
                                <img src="assets/images/marketing/database-line.svg" alt="Shape">
                            </div>
                            <h4 i18n="@@featureDatacenterTitle" class="features-title center">
                                {{'PERSONALIZED_SOLUTION.SOLUTION4_TITLE' | translate }}</h4>
                        </div>
                        <div class="features-content">
                            <p i18n="@@featureDatacenterText" class="text grey">
                                {{'PERSONALIZED_SOLUTION.SOLUTION4_SUBTITLE' | translate }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-footer">
            <ul class="slider-btn rounded-buttons">
                <li><a i18n="@@featureButtonDetailsText" class="main-btn rounded-one"
                        href="/solution-personalised/#contact"> {{'PERSONALIZED_SOLUTION.WANT_DETAILS' | translate
                        }}</a></li>
            </ul>
        </div>
    </div>
</section>

<section id="contact" class="gray-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10">
                <div class="section-title text-center">
                    <h3 i18n="@@sectionContactTitle" class="title">{{'PERSONALIZED_SOLUTION.CONTACT' | translate
                        }}</h3>
                    <p i18n="@@sectionContactText" class="text">{{'PERSONALIZED_SOLUTION.CONTACT_TEXT' | translate }}
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="contact-wrapper form-style-two pt-115">
                    <h4 class="contact-title pb-10">
                        <i class="lni lni-envelope"></i><span
                            i18n="@@sectionContactText">{{'PERSONALIZED_SOLUTION.CONTACT2' | translate }}</span>
                    </h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-input mt-25">
                                <label i18n="@@sectionContactInputName">{{'PERSONALIZED_SOLUTION.NAME' | translate
                                    }}</label>
                                <div class="input-items default">
                                    <input matInput required name="name" type="text" placeholder="Nume"
                                        [(ngModel)]="contactItem.subject" ngDefaultControl>
                                    <i class="lni lni-user"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-input mt-25">
                                <label i18n="@@sectionContactInputEmail">{{'PERSONALIZED_SOLUTION.EMAIL' | translate
                                    }}</label>
                                <div class="input-items default">
                                    <input matInput type="email" name="email" placeholder="Email"
                                        [(ngModel)]="contactItem.email" ngDefaultControl>
                                    <i class="lni lni-envelope"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-input mt-25">
                                <label i18n="@@sectionContactInputMessage">{{'PERSONALIZED_SOLUTION.MESSAGE' | translate
                                    }}</label>
                                <div class="input-items default">
                                    <textarea matInput required name="massage" placeholder="Mesaj"
                                        [(ngModel)]="contactItem.content" ngDefaultControl></textarea>
                                    <i class="lni lni-pencil-alt"></i>
                                </div>
                            </div>
                        </div>
                        <p class="form-message"></p>
                        <div class="col-md-12">
                            <div class="form-input light-rounded-buttons mt-30">
                                <button i18n="@@featureButtonRequestOfferText" class="main-btn light-rounded-two"
                                    (click)="send()">{{'PERSONALIZED_SOLUTION.ASK_OFFER' | translate }}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>