<!--====== SLIDER PART START ======-->
<section id="home" class="slider_area">
    <div id="carouselThree" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselThree" data-slide-to="0" class="active"></li>
            <li data-target="#carouselThree" data-slide-to="1"></li>
            <li data-target="#carouselThree" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="slider-content">
                                <h1 class="title">Ajutorul digital myImmoAssist</h1>
                                <p class="text">Asistent digital folosit pentru automatizarea managementului facturilor,
                                    chiriasilor, inventar
                                    apartament, platilor, contractelor de inchiriere si multe altele.
                                    Fara fisiere excel si alte liste greu de mentinut.</p>
                                <ul class="slider-btn rounded-buttons">
                                    <li>
                                        <a class="main-btn rounded-one"
                                            href="http://mylb-868721875.eu-central-1.elb.amazonaws.com:2001"
                                            target="_blank">MyImmo
                                            Assistant</a>
                                        <p class="small-text">*Testezi imediat asistentul. Nu sunt necesare date card.
                                        </p>
                                    </li>
                                    <li>
                                        <a class="slave-btn rounded-one" href="/solution-personalised">Oferta
                                            personalizata</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- container -->
                <div class="slider-image-box d-none d-lg-flex align-items-end">
                    <div class="slider-image">
                        <img src="assets/images/slider/1.png" alt="Hero">
                    </div> <!-- slider-imgae -->
                </div> <!-- slider-imgae box -->
            </div> <!-- carousel-item -->

            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="slider-content">
                                <h1 class="title">Automatizare operatiuni</h1>
                                <p class="text">Timpul petrecut cu notificari si calcule pe hartie poate fi petrecut
                                    altfel, asistentul se ocupa cu placere de actiuni repetitive (notificari,
                                    calcule si asa mai departe).</p>
                                <ul class="slider-btn rounded-buttons">
                                    <li><a class="main-btn rounded-one"
                                            href="http://mylb-868721875.eu-central-1.elb.amazonaws.com:2001"
                                            target="_blank">MyImmo
                                            Assistant</a>
                                        <p class="small-text">*Testezi imediat asistentul. Nu sunt necesare date card.
                                        </p>
                                    </li>
                                    <li>
                                        <a class="slave-btn rounded-one" href="/solution-personalised">Oferta
                                            personalizata</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-image-box d-none d-lg-flex align-items-end">
                    <div class="slider-image">
                        <img src="assets/images/slider/2.png" alt="Hero">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="slider-content">
                                <h1 class="title">Transparenta in cheltuieli</h1>
                                <p class="text">Transparenta totala intre chirias si proprietar, toate costurile
                                    asociate (facturi, impozite, ANAF) sunt transparente, vizibile si automat
                                    calculate.</p>
                                <ul class="slider-btn rounded-buttons">
                                    <li><a class="main-btn rounded-one"
                                            href="http://mylb-868721875.eu-central-1.elb.amazonaws.com:2001"
                                            target="_blank">MyImmo Assistant</a>
                                        <p class="small-text">*Testezi imediat asistentul. Nu sunt necesare date card.
                                        </p>
                                    </li>
                                    <li>
                                        <a class="slave-btn rounded-one" href="/solution-personalised">Oferta
                                            personalizata</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-image-box d-none d-lg-flex align-items-end">
                    <div class="slider-image">
                        <img src="assets/images/slider/3.png" alt="Hero">
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselThree" role="button" data-slide="prev">
            <i class="lni lni-arrow-left"></i>
        </a>
        <a class="carousel-control-next" href="#carouselThree" role="button" data-slide="next">
            <i class="lni lni-arrow-right"></i>
        </a>
    </div>
</section>

<section id="services" class="features-area white-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10">
                <div class="section-title text-center pb-10">
                    <h3 class="title">Solutii oferite</h3>
                    <p class="text">Asistentul myImmo vine cu o serie de utilitare pentru managementul proprietatilor si
                        a contractelor de inchiriere. Acestea permit utilizatorului sa-si optimizeze timpul petrecut in
                        activitati repetitive.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single-features mt-40">
                    <div class="features-title-icon d-flex justify-content-between">
                        <h4 class="features-title"><a href="#">Automatizare operatiuni</a></h4>
                        <div class="features-icon">
                            <i class="lni lni-island"></i>
                            <img class="shape" src="assets/images/f-shape-1.svg" alt="Shape">
                        </div>
                    </div>
                    <div class="features-content">
                        <p class="text">Diferite automatizari tehnice utile pentru optimizeaza sau automatizeaza
                            completa a activitatitilor specifice managementului proprietatilor/contractelor inchiriere.
                        </p>
                        <a class="features-btn" href="/solution1">Vreau detalii ...</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single-features mt-40">
                    <div class="features-title-icon d-flex justify-content-between">
                        <h4 class="features-title"><a href="#">Colectare plati online</a></h4>
                        <div class="features-icon">
                            <i class="lni lni-layout"></i>
                            <img class="shape" src="assets/images/f-shape-1.svg" alt="Shape">
                        </div>
                    </div>
                    <div class="features-content">
                        <p class="text">Colectari online de plati fara niciun efort (In curand).</p>
                        <a class="features-btn" href="/solution2">Vreau detalii ...</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single-features mt-40">
                    <div class="features-title-icon d-flex justify-content-between">
                        <h4 class="features-title"><a href="#">Rapoarte profesionale</a></h4>
                        <div class="features-icon">
                            <i class="lni lni-write"></i>
                            <img class="shape" src="assets/images/f-shape-1.svg" alt="Shape">
                        </div>
                    </div>
                    <div class="features-content">
                        <p class="text">Rapoarte personalizate si parametrizate, inventar, contracte, prognoza
                            financiara si multe altele.</p>
                        <a class="features-btn" href="/solution3">Vreau detalii ...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="pricing" class="pricing-area gray-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10">
                <div class="section-title text-center pb-25">
                    <h3 class="title">Plan tarifar</h3>
                    <p class="text">Incearca asistentul pentru trei luni complet gratuit, nu este necesara introducerea
                        datelor cardului!</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="pricing-style mt-30">
                    <div class="pricing-icon text-center">
                        <img src="assets/images/basic.svg" alt="">
                    </div>
                    <div class="pricing-header text-center">
                        <h5 class="sub-title">Start</h5>
                        <p class="month">De la <span class="price">4,9 RON</span>/luna</p>
                    </div>
                    <div class="pricing-list">
                        <ul class="item-list">
                            <li><span class="item">&#10003;</span>Include 1 unitate</li>
                            <li><span class="item">&#10003;</span>Diverse centralizatoare</li>
                            <li><span class="item">&#10003;</span>Modul raportare (start)</li>
                            <li><span class="item">&#10003;</span>Stocare documente *</li>
                            <li><span class="item">&#10003;</span>Notificari email personalizate</li>
                            <li><span class="item">&#10003;</span>Dashboard financiar</li>
                        </ul>
                    </div>
                    <div class="pricing-btn rounded-buttons text-center">
                        <a class="main-btn rounded-one" href="/pricing">Start</a>
                    </div>
                </div> <!-- pricing style one -->
            </div>

            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="pricing-style mt-30">
                    <div class="pricing-icon text-center">
                        <img src="assets/images/pro.svg" alt="">
                    </div>
                    <div class="pricing-header text-center">
                        <h5 class="sub-title">Smart</h5>
                        <p class="month">De la <span class="price">49 RON</span>/luna</p>
                    </div>
                    <div class="pricing-list">
                        <ul class="item-list">
                            <li><span class="item">&#10003;</span>Include 1 unitate</li>
                            <li><span class="item">&#10003;</span>Diverse centralizatoare</li>
                            <li><span class="item">&#10003;</span>Modul raportare (smart)</li>
                            <li><span class="item">&#10003;</span>Stocare documente nelimitata</li>
                            <li><span class="item">&#10003;</span>Access multi-user (2 utilizatori) </li>
                            <li><span class="item">&#10003;</span>Notificari email</li>
                            <li><span class="item">&#10003;</span>Dashboard financiar</li>
                        </ul>
                    </div>
                    <div class="pricing-btn rounded-buttons text-center">
                        <a class="main-btn rounded-one" href="/pricing">Start</a>
                    </div>
                </div> <!-- pricing style one -->
            </div>

            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="pricing-style mt-30">
                    <div class="pricing-icon text-center">
                        <img src="assets/images/enterprise.svg" alt="">
                    </div>
                    <div class="pricing-header text-center">
                        <h5 class="sub-title">Scale</h5>
                        <p class="month">De la <span class="price">499 RON</span>/luna</p>
                    </div>
                    <div class="pricing-list">
                        <ul class="item-list">
                            <li><span class="item">&#10003;</span>Include 1 unitate</li>
                            <li><span class="item">&#10003;</span>Diverse centralizatoare</li>
                            <li><span class="item">&#10003;</span>Modul raportare (mod Scale)</li>
                            <li><span class="item">&#10003;</span>Stocare documente nelimitata *</li>
                            <li><span class="item">&#10003;</span>Access multi-user (5 utilizatori) </li>
                            <li><span class="item">&#10003;</span>Notificari email/SMS</li>
                            <li><span class="item">&#10003;</span>Dashboard financiar</li>
                            <li><span class="item">&#10003;</span>Access roboti prelucrare facturi*</li>
                        </ul>
                    </div>
                    <div class="pricing-btn rounded-buttons text-center">
                        <a class="main-btn rounded-one" href="/pricing">Start</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="resources" class="portfolio-area portfolio-four pb-100 white-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10">
                <div class="section-title text-center pb-25">
                    <h3 class="title">Resurse</h3>
                    <p class="text">Diverse resurse gratuite utile unui proprietar (documente foliste pentru inchiriere,
                        diverse calculatoare, sfaturi si multe altele).</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single-card card-style-one mt-30">
                    <div class="card-image">
                        <img src="assets/images/card/card-1.jpg" alt="Image">
                    </div>
                    <div class="card-content">
                        <h4 class="card-title"><a href="#">Centru ajutor</a></h4>
                        <p class="text">Aveti nevoie de ajutor in navigarea si folosirea myImmoAssist? Avem
                            resursele disponibile.</p>
                        <div class="card-btn rounded-buttons">
                            <a class="main-btn rounded-three" href="/help">aici</a>
                        </div>
                    </div>
                </div>
                <!-- <div class="single-card card-style-three mt-30">
                    <div class="card-image">
                        <img src="assets/images/card/card-3.jpg" alt="Image">
                    </div>
                    <div class="card-content">
                        <h4 class="card-title"><a href="#">Item title is here</a></h4>
                        <p class="text">Short description for the ones who look for something new</p>
                    </div>
                </div>  <div class="single-card card-style-five mt-30">
                    <div class="card-image">
                        <img src="assets/images/card/card-4.jpg" alt="Image">
                    </div>
                    <div class="card-content">
                        <h4 class="card-title"><a href="#">Item title is here</a></h4>
                        <p class="text">Short description for the ones who look for something new</p>
                        <a class="card-icon" href="#"><i class="lni lni-cloud-download"></i></a>
                    </div>
                </div> -->
            </div>
            <div class="col-lg-8">
                <!-- <div class="single-card card-style-two mt-30">
                    <div class="row no-gutters align-items-center">
                        <div class="col-sm-6">
                            <div class="card-image">
                                <img src="assets/images/card/card-2.jpg" alt="Image">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card-content">
                                <h4 class="card-title"><a href="#">Item title is here</a></h4>
                                <p class="text">Short description for the ones who look for something new</p>
                                <div class="card-btn rounded-buttons">
                                    <a class="main-btn rounded-three" href="#">GET STARTED</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-card card-style-four mt-30">
                    <div class="row no-gutters align-items-center">
                        <div class="col-sm-6 order-md-last">
                            <div class="card-image">
                                <img src="assets/images/card/card-4.jpg" alt="Image">
                            </div>
                        </div>
                        <div class="col-sm-6 order-md-first">
                            <div class="card-content">
                                <h4 class="card-title"><a href="#">Item title is here</a></h4>
                                <p class="text">Short description for the ones who look for something new</p>
                                <div class="card-btn rounded-buttons">
                                    <a class="main-btn rounded-one" href="#">GET STARTED</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>  -->
                <div class="single-card card-style-six mt-30">
                    <div class="row no-gutters align-items-center">
                        <div class="col-sm-6">
                            <div class="card-image">
                                <img src="assets/images/card/card-5.jpg" alt="Image">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card-content">
                                <h4 class="card-title"><a href="#">Documente</a></h4>
                                <p class="text">Documente utile in procesul de inchiriere.</p>
                                <div class="card-btn rounded-buttons">
                                    <a class="main-btn rounded-three" href="/documents">aici</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-card card-style-saven mt-30">
                    <div class="row no-gutters align-items-center">
                        <div class="col-sm-6 order-md-last">
                            <div class="card-image">
                                <img src="assets/images/card/card-3.jpg" alt="Image">
                            </div>
                        </div>
                        <div class="col-sm-6 order-md-first">
                            <div class="card-content">
                                <h4 class="card-title"><a href="#">Calculatoare</a></h4>
                                <p class="text">Selectie de calculatoare gratuite utile proprietarilor si viitorilor
                                    proprietari.</p>
                                <div class="card-btn rounded-buttons">
                                    <a class="main-btn rounded-one" href="/calculators">aici</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="about-area gray-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="faq-content mt-45">
                    <div class="about-title">
                        <h6 class="sub-title">Detalii aditionale despre myImmoAssist</h6>
                        <h4 class="title">Intrebari frecvente <br> despre aplicatie </h4>
                    </div>
                    <div class="about-accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">Am o proprietate, cum o configurez in sistem?</a>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p class="text">Actiunea de a configura o noua proprietate in sistem se poate
                                            face, fie prin folosirea widgetului "Proprietate noua" din pagina
                                            principala, fie prin meniul "Proprietati". Ulterior la fiecare proprietate
                                            se pot configura contractele de utilitati, inventarul proprietate si lista
                                            de contracte de inchiriere.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">Cum pot sa vad detalii despre
                                        contracte?</a>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p class="text">Toate contractele de inchiriere in derulare se pot accesa fie
                                            prin widgetul "Contract" din pagina principala, fie prin meniul
                                            "Proprietati" -> "Contracte". Fiecare contract are doua sectiuni ce pot sa
                                            fie accesate, contractul propriu-zis si lista de plati.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseThree"
                                        aria-expanded="false" aria-controls="collapseThree">Cum adaug piese de inventar
                                        si ce este inventar proprietate?</a>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p class="text">Inventarul proprietate se foloseste la generarea procesului
                                            verbal de predare-primire atasat contractului de inchiriere. Piesele de
                                            inventar se adauga din meniul proprietatii, sectiunea "Inventar".</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFore">
                                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFore"
                                        aria-expanded="false" aria-controls="collapseFore">Cum adaug contracte
                                        utilitati?</a>
                                </div>
                                <div id="collapseFore" class="collapse" aria-labelledby="headingFore"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p class="text">Pentru a putea adauga facturi atasate unei proprietati, initial
                                            proprietatea are nevoie sa-i fie atasate anumite contracte de utilitati.
                                            Acestea se pot adauga din pagina proprietatii din meniul "Utilitati". In
                                            cazul in care organizatia are configurata utilizarea robotilor de agregare
                                            facturi, atunci, la momentul in care se adauga o noua utilitate, se pot
                                            specifica si datele de conectare la pagina web a furnizorului de utilitati.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingFive">
                                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFive"
                                        aria-expanded="false" aria-controls="collapseFive">Cum adaug o factura de
                                        utilitati?</a>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p class="text">Manual, actiunea de a adauga o factura de utilitati se poate
                                            face fie din meniul principal din widgetul "Factura Noua" sau din meniul
                                            proprietatii folosind sectiunea de "Facturi". Automat, actiunea de a adauga
                                            facturi se poate face doar in cazul in care robotul de agregare facturi este
                                            configurat pentru utilitatea respectiva.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="about-image mt-50">
                    <img src="assets/images/about.jpg" alt="about">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="contact-area white-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10">
                <div class="section-title text-center pb-30">
                    <h3 class="title">Contact</h3>
                    <p class="text">Digitalizare si optimizare operatiuni inchiriere si management contracte
                        inchiriere. Va rugam sa ne contactati pentru oricen intrebare, nelarumire, clarificare sau
                        sugestie de imbunatatire functionalitate.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-map mt-30">
                    <iframe id="gmap_canvas"
                        src="https://maps.google.com/maps?q=brasov&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                        scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
            </div>
        </div>
        <div class="contact-info pt-30">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-contact-info contact-color-1 mt-30 d-flex ">
                        <div class="contact-info-icon">
                            <i class="lni lni-map-marker"></i>
                        </div>
                        <div class="contact-info-content media-body">
                            <p class="text">Brasov, Romania.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-contact-info contact-color-2 mt-30 d-flex">
                        <div class="contact-info-icon">
                            <i class="lni lni-envelope"></i>
                        </div>
                        <div class="contact-info-content media-body">
                            <p class="text">my-immo@outlook.com</p>
                            <!-- <p class="text">support@myimmo.com</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-contact-info contact-color-3 mt-30 d-flex ">
                        <div class="contact-info-icon">
                            <i class="lni lni-phone"></i>
                        </div>
                        <div class="contact-info-content media-body">
                            <p class="text">+4 743 366 266</p>
                            <!-- <p class="text">+4 743 366 266</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-wrapper form-style-two pt-115">
                    <h4 class="contact-title pb-10">
                        <i class="lni lni-envelope"></i> Lasati-ne <span>un mesaj.</span>
                    </h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-input mt-25">
                                <label>Nume</label>
                                <div class="input-items default">
                                    <input matInput required name="name" type="text" placeholder="Nume"
                                        [(ngModel)]="contactItem.subject" ngDefaultControl>
                                    <i class="lni lni-user"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-input mt-25">
                                <label>Email</label>
                                <div class="input-items default">
                                    <input matInput type="email" name="email" placeholder="Email"
                                        [(ngModel)]="contactItem.email" ngDefaultControl>
                                    <i class="lni lni-envelope"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-input mt-25">
                                <label>Mesaj</label>
                                <div class="input-items default">
                                    <textarea matInput required name="massage" placeholder="Mesaj"
                                        [(ngModel)]="contactItem.content" ngDefaultControl></textarea>
                                    <i class="lni lni-pencil-alt"></i>
                                </div>
                            </div>
                        </div>
                        <p class="form-message"></p>
                        <div class="col-md-12">
                            <div class="form-input light-rounded-buttons mt-30">
                                <button class="main-btn light-rounded-two" (click)="send()">Trimite</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>