<!--====== SLIDER PART START ======-->
<section id="home" class="slider_area">
    <div id="carouselThree" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselThree" data-slide-to="0" class="active"></li>
            <li data-target="#carouselThree" data-slide-to="1"></li>
            <li data-target="#carouselThree" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="slider-content">
                                <h1 class="title">Asistent digital</h1>
                                <p class="text">Asistent digital pentru managementul facturilor, chiriasilor, inventar
                                    apartament, plati si al contractelor de inchiriere.
                                    Fara fisiere excel si alte liste greu de mentinut.</p>
                                <ul class="slider-btn rounded-buttons">
                                    <li><a class="main-btn rounded-one"
                                            href="http://mylb-868721875.eu-central-1.elb.amazonaws.com:2001"
                                            target="_blank">MyImmo
                                            Assistant</a></li>
                                    <!-- <li><a class="main-btn rounded-two" href="#">DOWNLOAD</a></li> -->
                                </ul>
                            </div>
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
                <div class="slider-image-box d-none d-lg-flex align-items-end">
                    <div class="slider-image">
                        <img src="assets/images/slider/1.png" alt="Hero">
                    </div> <!-- slider-imgae -->
                </div> <!-- slider-imgae box -->
            </div> <!-- carousel-item -->

            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="slider-content">
                                <h1 class="title">Automatizare operatiuni</h1>
                                <p class="text">Timpul petrecut cu notificari si calcule pe hartie poate fi petrecut
                                    altfel, assistentul se ocupa cu placere de actiuni repetitive (notificari,
                                    calcule, etc).</p>
                                <ul class="slider-btn rounded-buttons">
                                    <li><a class="main-btn rounded-one"
                                            href="http://mylb-868721875.eu-central-1.elb.amazonaws.com:2001"
                                            target="_blank">MyImmo
                                            Assistant</a></li>
                                    <!-- <li><a class="main-btn rounded-two" href="#">DOWNLOAD</a></li> -->
                                </ul>
                            </div> <!-- slider-content -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
                <div class="slider-image-box d-none d-lg-flex align-items-end">
                    <div class="slider-image">
                        <img src="assets/images/slider/2.png" alt="Hero">
                    </div> <!-- slider-imgae -->
                </div> <!-- slider-imgae box -->
            </div> <!-- carousel-item -->
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="slider-content">
                                <h1 class="title">Transparenta in cheltuieli</h1>
                                <p class="text">Transparenta totala intre chirias si proprietar, toate costurile
                                    asociate (facturi, impozite, ANAF) sunt transparente, vizibile si automat
                                    calculate.</p>
                                <ul class="slider-btn rounded-buttons">
                                    <li><a class="main-btn rounded-one"
                                            href="http://mylb-868721875.eu-central-1.elb.amazonaws.com:2001"
                                            target="_blank">MyImmo
                                            Assistant</a></li>
                                    <!-- <li><a class="main-btn rounded-two" href="#">DOWNLOAD</a></li> -->
                                </ul>
                            </div> <!-- slider-content -->
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
                <div class="slider-image-box d-none d-lg-flex align-items-end">
                    <div class="slider-image">
                        <img src="assets/images/slider/3.png" alt="Hero">
                    </div> <!-- slider-imgae -->
                </div> <!-- slider-imgae box -->
            </div> <!-- carousel-item -->
        </div>
        <a class="carousel-control-prev" href="#carouselThree" role="button" data-slide="prev">
            <i class="lni lni-arrow-left"></i>
        </a>
        <a class="carousel-control-next" href="#carouselThree" role="button" data-slide="next">
            <i class="lni lni-arrow-right"></i>
        </a>
    </div>
</section>
<!--====== SLIDER PART ENDS ======-->

<!--====== FEATRES TWO PART START ======-->

<section id="services" class="features-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section-title text-center pb-10">
                    <h3 class="title">Solutii oferite</h3>
                    <p class="text">Asistentul myImmo vine cu o serie de utilitare pentru managementul proprietatilor si
                        a contractelor de inchiriere care permite utilizatorului sa-si optimizeze timpul petrecut in
                        genul acesta de activitati.</p>
                </div>
                <!-- row -->
            </div>
        </div>
        <!-- row -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single-features mt-40">
                    <div class="features-title-icon d-flex justify-content-between">
                        <h4 class="features-title"><a href="#">Automatizare operatiuni</a></h4>
                        <div class="features-icon">
                            <i class="lni lni-brush"></i>
                            <img class="shape" src="assets/images/f-shape-1.svg" alt="Shape">
                        </div>
                    </div>
                    <div class="features-content">
                        <p class="text">Automatizari diferite care usureaza managementul proprietatilor.</p>
                        <a class="features-btn" href="/solution1">Mai multe ...</a>
                    </div>
                </div>
                <!-- single features -->
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single-features mt-40">
                    <div class="features-title-icon d-flex justify-content-between">
                        <h4 class="features-title"><a href="#">Contabilitate si rapoarte</a></h4>
                        <div class="features-icon">
                            <i class="lni lni-layout"></i>
                            <img class="shape" src="assets/images/f-shape-1.svg" alt="Shape">
                        </div>
                    </div>
                    <div class="features-content">
                        <p class="text">Toate documentele disponibile in format digital, diferite rapoarte customizabile
                            si multe altele.</p>
                        <a class="features-btn" href="#">Mai multe ...</a>
                    </div>
                </div>
                <!-- single features -->
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single-features mt-40">
                    <div class="features-title-icon d-flex justify-content-between">
                        <h4 class="features-title"><a href="#">Solutie completa</a></h4>
                        <div class="features-icon">
                            <i class="lni lni-bolt"></i>
                            <img class="shape" src="assets/images/f-shape-1.svg" alt="Shape">
                        </div>
                    </div>
                    <div class="features-content">
                        <p class="text">Solutie completa care acopera toate aspectele legate de managementul unei
                            proprietati si a contractelor de inchiriere.</p>
                        <a class="features-btn" href="#">Mai multe ...</a>
                    </div>
                </div> <!-- single features -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== FEATRES TWO PART ENDS ======-->

<!--====== PORTFOLIO PART START ======-->


<!--====== PORTFOLIO PART ENDS ======-->

<!--====== PRINICNG START ======-->

<section id="pricing" class="pricing-area ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section-title text-center pb-25">
                    <h3 class="title">Plan tarif</h3>
                    <p class="text">Stop wasting time and money designing and managing a website that doesn’t get
                        results. Happiness guaranteed!</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="pricing-style mt-30">
                    <div class="pricing-icon text-center">
                        <img src="assets/images/basic.svg" alt="">
                    </div>
                    <div class="pricing-header text-center">
                        <h5 class="sub-title">Start</h5>
                        <p class="month"><span class="price">RON 0</span>/luna</p>
                    </div>
                    <div class="pricing-list">
                        <ul>
                            <li><i class="lni lni-check-mark-circle"></i> Ideal pentru managementul pana in trei unitati
                            </li>
                            <li><i class="lni lni-check-mark-circle"></i> Amazing page examples</li>
                        </ul>
                    </div>
                    <div class="pricing-btn rounded-buttons text-center">
                        <a class="main-btn rounded-one" href="#">Start</a>
                    </div>
                </div> <!-- pricing style one -->
            </div>

            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="pricing-style mt-30">
                    <div class="pricing-icon text-center">
                        <img src="assets/images/pro.svg" alt="">
                    </div>
                    <div class="pricing-header text-center">
                        <h5 class="sub-title">Growth</h5>
                        <p class="month"><span class="price">RON 50</span>/month</p>
                    </div>
                    <div class="pricing-list">
                        <ul>
                            <li><i class="lni lni-check-mark-circle"></i> Carefully crafted components</li>
                            <li><i class="lni lni-check-mark-circle"></i> Amazing page examples</li>
                        </ul>
                    </div>
                    <div class="pricing-btn rounded-buttons text-center">
                        <a class="main-btn rounded-one" href="#">Start</a>
                    </div>
                </div> <!-- pricing style one -->
            </div>

            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="pricing-style mt-30">
                    <div class="pricing-icon text-center">
                        <img src="assets/images/enterprise.svg" alt="">
                    </div>
                    <div class="pricing-header text-center">
                        <h5 class="sub-title">Scale</h5>
                        <p class="month"><span class="price">RON 500</span>/month</p>
                    </div>
                    <div class="pricing-list">
                        <ul>
                            <li><i class="lni lni-check-mark-circle"></i> Carefully crafted components</li>
                            <li><i class="lni lni-check-mark-circle"></i> Amazing page examples</li>
                        </ul>
                    </div>
                    <div class="pricing-btn rounded-buttons text-center">
                        <a class="main-btn rounded-one" href="#">Start</a>
                    </div>
                </div> <!-- pricing style one -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== PRINICNG ENDS ======-->

<!--====== ABOUT PART START ======-->

<section id="about" class="about-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="faq-content mt-45">
                    <div class="about-title">
                        <h6 class="sub-title">A Little More About Us</h6>
                        <h4 class="title">Frequently Asked Questions <br> About Our Site</h4>
                    </div> <!-- faq title -->
                    <div class="about-accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">Frequently Asked Question
                                        One</a>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p class="text">Morbi vehicula arcu et pellentesque tincidunt. Nunc ligula
                                            nulla, lobortis a elementum non, vulputate ut arcu. Aliquam erat
                                            volutpat. Nullam lacinia felis.</p>
                                    </div>
                                </div>
                            </div> <!-- card -->
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                        aria-expanded="false" aria-controls="collapseTwo">Frequently Asked Question
                                        Two</a>
                                </div>
                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p class="text">Morbi vehicula arcu et pellentesque tincidunt. Nunc ligula
                                            nulla, lobortis a elementum non, vulputate ut arcu. Aliquam erat
                                            volutpat. Nullam lacinia felis.</p>
                                    </div>
                                </div>
                            </div> <!-- card -->
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseThree"
                                        aria-expanded="false" aria-controls="collapseThree">Frequently Asked Question
                                        Three</a>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p class="text">Morbi vehicula arcu et pellentesque tincidunt. Nunc ligula
                                            nulla, lobortis a elementum non, vulputate ut arcu. Aliquam erat
                                            volutpat. Nullam lacinia felis.</p>
                                    </div>
                                </div>
                            </div> <!-- card -->
                            <div class="card">
                                <div class="card-header" id="headingFore">
                                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFore"
                                        aria-expanded="false" aria-controls="collapseFore">Frequently Asked Question
                                        Four</a>
                                </div>
                                <div id="collapseFore" class="collapse" aria-labelledby="headingFore"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p class="text">Morbi vehicula arcu et pellentesque tincidunt. Nunc ligula
                                            nulla, lobortis a elementum non, vulputate ut arcu. Aliquam erat
                                            volutpat. Nullam lacinia felis.</p>
                                    </div>
                                </div>
                            </div> <!-- card -->
                            <div class="card">
                                <div class="card-header" id="headingFive">
                                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFive"
                                        aria-expanded="false" aria-controls="collapseFive">Frequently Asked Question
                                        Five</a>
                                </div>
                                <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p class="text">Morbi vehicula arcu et pellentesque tincidunt. Nunc ligula
                                            nulla, lobortis a elementum non, vulputate ut arcu. Aliquam erat
                                            volutpat. Nullam lacinia felis.</p>
                                    </div>
                                </div>
                            </div> <!-- card -->
                        </div>
                    </div> <!-- faq accordion -->
                </div> <!-- faq content -->
            </div>
            <div class="col-lg-7">
                <div class="about-image mt-50">
                    <img src="assets/images/about.jpg" alt="about">
                </div> <!-- faq image -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== ABOUT PART ENDS ======-->

<!--====== TESTIMONIAL PART START ======-->

<!--====== TESTIMONIAL PART ENDS ======-->

<!--====== TEAM START ======-->

<!--====== TEAM  ENDS ======-->




<!--====== CONTACT PART START ======-->
<section id="contact" class="contact-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section-title text-center pb-30">
                    <h3 class="title">Contact</h3>
                    <p class="text">Digitalizare si optimizare operatiuni inchiriere si management contracte
                        inchiriere.</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-map mt-30">
                    <iframe id="gmap_canvas"
                        src="https://maps.google.com/maps?q=brasov&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                        scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="contact-info pt-30">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-contact-info contact-color-1 mt-30 d-flex ">
                        <div class="contact-info-icon">
                            <i class="lni lni-map-marker"></i>
                        </div>
                        <div class="contact-info-content media-body">
                            <p class="text"> Strada Reconstructiei<br>Brasov, Romania.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-contact-info contact-color-2 mt-30 d-flex ">
                        <div class="contact-info-icon">
                            <i class="lni lni-envelope"></i>
                        </div>
                        <div class="contact-info-content media-body">
                            <p class="text">my-immo@outlook.com</p>
                            <!-- <p class="text">support@myimmo.com</p> -->
                        </div>
                    </div> <!-- single contact info -->
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-contact-info contact-color-3 mt-30 d-flex ">
                        <div class="contact-info-icon">
                            <i class="lni lni-phone"></i>
                        </div>
                        <div class="contact-info-content media-body">
                            <p class="text">+4 743 366 266</p>
                            <!-- <p class="text">+4 743 366 266</p> -->
                        </div>
                    </div> <!-- single contact info -->
                </div>
            </div> <!-- row -->
        </div> <!-- contact info -->
        <div class="row">
            <div class="col-lg-12">
                <div class="contact-wrapper form-style-two pt-115">
                    <h4 class="contact-title pb-10"><i class="lni lni-envelope"></i> Lasati-ne <span>un mesaj.</span>
                    </h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-input mt-25">
                                <label>Nume</label>
                                <div class="input-items default">
                                    <input matInput required name="name" type="text" placeholder="Nume"
                                        [(ngModel)]="contactItem.subject" ngDefaultControl>
                                    <i class="lni lni-user"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-input mt-25">
                                <label>Email</label>
                                <div class="input-items default">
                                    <input matInput type="email" name="email" placeholder="Email"
                                        [(ngModel)]="contactItem.email" ngDefaultControl>
                                    <i class="lni lni-envelope"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-input mt-25">
                                <label>Mesaj</label>
                                <div class="input-items default">
                                    <textarea matInput required name="massage" placeholder="Mesaj"
                                        [(ngModel)]="contactItem.content" ngDefaultControl></textarea>
                                    <i class="lni lni-pencil-alt"></i>
                                </div>
                            </div>
                        </div>
                        <p class="form-message"></p>
                        <div class="col-md-12">
                            <div class="form-input light-rounded-buttons mt-30">
                                <button class="main-btn light-rounded-two" (click)="send()">Trimite</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- contact wrapper form -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>
<!--====== CONTACT PART ENDS ======-->