.contact-info-content {
    align-self: center;
}

.single-features {
    padding: 0 0 0 0;
    height: 100%;
}

.features-title-icon {
    padding: 25px 10px 15px 10px;
    position: relative;
}

.features-content {
    padding: 25px 10px 0px 10px;
}

.features-btn {
    left: 30px;
    bottom: -30px;
    position: absolute;
}

.pricing-style {
    padding: 0 0 0 0;
    height: 100%;
}

.pricing-list {
    padding: 0px 10px 0px 10px;
    text-align: left;
}

.small-text {
    color: #fff;
    font-size: 12px;
    padding-left: 10px;
}

.slave-btn {
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 2px solid transparent;
    padding: 0 32px;
    font-size: 16px;
    line-height: 46px;
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 5;
    -webkit-transition: all 0.4s ease-out 0s;
    -moz-transition: all 0.4s ease-out 0s;
    -ms-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    position: relative;
    text-transform: uppercase; 
    border-radius: 50px;
}

@media (max-width: 767px) {
    .slave-btn {
        font-size: 14px;
        padding: 0 20px;
        line-height: 40px; 
    } 
}

.white-area {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 80px;
}

.gray-area {
    background-color: #f4f6f7;
    padding-top: 50px;
    padding-bottom: 80px;
}

.pricing-style {
    height: 100%;
    .pricing-list {
        padding: 0px 10px 50px 10px;
        text-align: center;
        .item-list {
            display: inline-block; 
            text-align: left;            
            .item {
                padding: 0px 5px 0px 5px;
                font-weight: bold;
            }
        }
    }
    .pricing-btn {
        width: 100%;
        bottom: 10px;
        position: absolute;
        text-align: center;
    }
}

.slider-content {
    padding-top: 140px;
}

i, span, a {
    display: inline-block;
}

a {
    text-decoration: none;
}

.single-card {
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 16%);
    border-radius: 8px;
    overflow: hidden;
}

.single-card .card-content {
    padding: 16px;
}

.single-card .card-content .card-title {
    margin-bottom: 0;
}

.single-card .card-content .card-title a {
    font-size: 24px;
    line-height: 30px;
    color: #121212;
    transition: all .3s ease-out 0s;
}

.single-card .card-content .text {
    color: #121212;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
}

.rounded-buttons .rounded-one {
    border-color: #0067f4;
}

.rounded-buttons .rounded-three {
    overflow: hidden;
    background: linear-gradient(to right,#0067f4 0%,#2bdbdc 50%,#0067f4 100%);
    background-size: 200% auto;
    color: #fff;
    border: 0;
}

.rounded-buttons .main-btn {
    border-radius: 50px;
}

h4 {
    line-height: 1.2;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 22px;
    font-family: poppins,sans-serif;
    font-weight: 600;
    color: #121212;
    margin: 0;
}

.card-style-three .card-content {
    background-color: #0067f4;
}

.card-style-three .card-content .card-title a {
    color: #fff;
}

.card-style-three .card-content .text {
    color: #fff;
}

.card-style-six {
    background: linear-gradient(to right,#0acffe 0%,#495aff 100%);
}

.card-style-six .card-content .card-title a {
    color: #fff;
}

.card-style-six .card-content .text {
    color: #fff;
}

.card-style-five .card-content .card-icon {
    position: absolute;
    top: -20px;
    right: 8px;
}

.card-style-five .card-content .card-icon:hover i {
    background-color: #fff;
    color: #0067f4;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 16%);
}

.card-style-five .card-content .card-icon i {
    width: 40px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    background-color: #0067f4;
    border-radius: 50%;
    font-size: 24px;
    transition: all .3s ease-out 0s;
}

.lni {
    display: inline-block;
    font: normal normal normal 1em/1 'LineIcons';
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.card-style-saven {
    background: linear-gradient(90deg,#9166fe 0%,#c97aed 100%);
}

.card-style-saven .card-content .card-title a {
    color: #fff;
}

.card-style-saven .card-content .text {
    color: #fff;
}

.card-btn {
    margin-top: 24px;
}

.card-style-saven .card-content .card-btn .main-btn {
    border-color: #fff;
    background-color: #fff;
}

.card-btn .main-btn {
    line-height: 48px;
}

.rounded-buttons .main-btn {
    border-radius: 50px;
}

.about-image {
    padding-top: 50px;
    .img {
       
    }
}