.contact-info-content {
    align-self: center;
}

.single-features {
    padding: 0 0 0 0;
    height: 100%;
}

.features-title-icon {
    padding: 25px 10px 15px 10px;
    position: relative;
}

.features-content {
    padding: 25px 10px 0px 10px;
}

.features-btn {
    left: 30px;
    bottom: -30px;
    position: absolute;
}

.pricing-style {
    padding: 0 0 0 0;
    height: 100%;
}

.pricing-list {
    padding: 0px 10px 0px 10px;
    text-align: left;
}
