<!--====== SLIDER PART START ======-->
<section id="home" class="slider_area">
    <div id="carouselThree" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="slider-content">
                                <h1 class="title">Automatizare operatiuni</h1>
                                <p class="text">Ramai organizat prin folosirea utilitarelor de automatizare.</p>
                                <ul>
                                    <li><span>&nbsp;&nbsp;&nbsp;&#10003; Notificari finalizare contract</span></li>
                                    <li><span>&nbsp;&nbsp;&nbsp;&#10003; Notificari plata lunara</span></li>
                                    <li><span>&nbsp;&nbsp;&nbsp;&#10003; Notificari facturi</span></li>
                                    <li><span>&nbsp;&nbsp;&nbsp;&#10003; Notificari anuale ANAF/Impozite locale</span></li>
                                    <li><span>&nbsp;&nbsp;&nbsp;&#10003; Calcul automat ANAF</span></li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
                <div class="slider-image-box d-none d-lg-flex align-items-center">
                    <div class="slider-image">
                        <img src="assets/images/slider/1.png" alt="Hero">
                    </div> <!-- slider-imgae -->
                </div> <!-- slider-imgae box -->
            </div> <!-- carousel-item -->
        </div>
    </div>
</section>
<!--====== SLIDER PART ENDS ======-->

<!--====== FEATRES TWO PART START ======-->

<section id="services">
    dsadsa
</section>

<!--====== FEATRES TWO PART ENDS ======-->

<!--====== PORTFOLIO PART START ======-->


<!--====== PORTFOLIO PART ENDS ======-->

<!--====== PRINICNG START ======-->

<section id="pricing">
    vdcvvcx
</section>

<!--====== PRINICNG ENDS ======-->

<!--====== ABOUT PART START ======-->

<section id="about">
    vcxvcx
</section>

<!--====== ABOUT PART ENDS ======-->

<!--====== TESTIMONIAL PART START ======-->

<!--====== TESTIMONIAL PART ENDS ======-->

<!--====== TEAM START ======-->

<!--====== TEAM  ENDS ======-->




<!--====== CONTACT PART START ======-->
<section id="contact">

</section>
<!--====== CONTACT PART ENDS ======-->