<!--====== SLIDER PART START ======-->
<section id="home" class="slider_area">
    <div id="carouselThree" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="slider-content">
                                <h1 class="title">Automatizare operatiuni</h1>
                                <p class="text white">Ramai organizat prin folosirea utilitarelor de automatizare.
                                    Timpul petrecut cu notificari si calcule pe hartie poate fi petrecut altfel,
                                    asistentul se ocupa cu placere de actiuni repetitive (notificari, calcule si asa mai
                                    departe).</p>
                                <ul class="slider-btn rounded-buttons">
                                    <li><a class="main-btn rounded-one"
                                            href="http://mylb-868721875.eu-central-1.elb.amazonaws.com:2001/register"
                                            target="_blank">Incepe aici</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="slider-image">
                                <img src="assets/images/slider/2.png" alt="Hero">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="white-area">
    <div class="container">
        <div class="row compare-area-table justify-content-center">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="justify-content-between">
                            <div>
                                <img src="assets/images/marketing/Image-11-–-3.svg" alt="Shape">
                            </div>
                            <h4 class="features-title center ">Notificari automate</h4>
                        </div>
                        <div class="features-content">
                            <p class="text grey">Automatizare comunicare, creare de notificari la aparitia unei noi
                                facturi, schimbarea statusului acesteia. Aditiona, crearea de notificari si calculatea
                                automata a sumei de plata, mesaje de informare intre proprietar si chirias.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="justify-content-between">
                            <div>
                                <img src="assets/images/marketing/Image-11-–-1.svg" alt="Shape">
                            </div>
                            <h4 class="features-title center">Procesare calcule financiare</h4>
                        </div>
                        <div class="features-content">
                            <p class="text grey">Diferite calculatoare care calculeaza automat profitabilitate per
                                proprietate, sumele ce trebuie platite lunar si multe altele.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="justify-content-between">
                            <div>
                                <img src="assets/images/marketing/Image-11-–-2.svg" alt="Shape">
                            </div>
                            <h4 class="features-title center">Procesator robotic</h4>
                        </div>
                        <div class="features-content">
                            <p class="text grey">Procesator robotic (RPA) de facturi. Descarcare automata de pe site-ul
                                myElectrica, GDF-Suez, Digi, etc de facturi si incarcarea automata in myImmoAssist.
                                Sincronizare status plata.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-footer">
            <ul class="slider-btn rounded-buttons">
                <li><a class="main-btn rounded-one"
                        href="http://mylb-868721875.eu-central-1.elb.amazonaws.com:2001/register" target="_blank">Creare
                        cont</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="gray-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 vertical-align-content">
                <div class="left">
                    <h1 class="features-title left">Contabilitate automata</h1>
                    <p class="text grey">
                        Eliminarea procesului manual din calculul contabil folosind myImmoAssist. Se pot seta cheltuieli
                        recurente, accese, vizualizari sau reconciliere automata a transactilor.
                        Diferite procesari automate de facturi scanate.</p>
                </div>
            </div>
            <div class="col-lg-5 features-image">
                <img src="assets/images/marketing/Mobile_Management_World.svg" alt="Hero">
            </div>
        </div>
        <div class="section-footer">
            <ul class="slider-btn rounded-buttons">
                <li><a class="main-btn rounded-one"
                        href="http://mylb-868721875.eu-central-1.elb.amazonaws.com:2001/register" target="_blank">Creare
                        cont</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="white-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 features-image left">
                <img src="assets/images/marketing/Lease_Automation.svg" alt="Hero">
            </div>
            <div class="col-lg-7 vertical-align-content">
                <div class="left">
                    <h1 class="features-title">Optimizeaza-ti timpul si elimina penalitati la plata intarziata</h1>
                    <p class="text grey">
                        Facturi si proces facturi semi automat sau compelt automat.
                        Transparenta totala in procesul de
                        facturare.
                        Colectare online a platii (Curand).
                    </p>
                </div>
            </div>
        </div>
        <div class="section-footer">
            <ul class="slider-btn rounded-buttons">
                <li><a class="main-btn rounded-one"
                        href="http://mylb-868721875.eu-central-1.elb.amazonaws.com:2001/register" target="_blank">Creare
                        cont</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="gray-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 vertical-align-content">
                <div class="left">
                    <h1 class="features-title left">Descarca datele atasate contului la orice ora</h1>
                    <p class="text grey">
                        Vreti sa va descarcati toate datele automat in format Excel, PDF sau Word? Desigur, se pot
                        genera rapoarte profesionale instant pe orice dispozitiv iar ulterior acestea pot sa fie
                        redirectionate catre alte persoane.
                    </p>
                </div>
            </div>
            <div class="col-lg-5 features-image">
                <img src="assets/images/marketing/Image-12.svg" alt="Hero">
            </div>
        </div>
        <div class="section-footer">
            <ul class="slider-btn rounded-buttons">
                <li><a class="main-btn rounded-one"
                        href="http://mylb-868721875.eu-central-1.elb.amazonaws.com:2001/register" target="_blank">Creare
                        cont</a></li>
            </ul>
        </div>
    </div>
</section>