<!--====== SLIDER PART START ======-->
<section id="home" class="slider_area">
    <div id="carouselThree" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="slider-content">
                                <h1 i18n="@@sectionSolution1Title" class="title">{{'SOLUTION1.TITLE' | translate
                                    }}</h1>
                                <p i18n="@@sectionSolution1Text" class="text white">{{'SOLUTION1.TEXT' | translate
                                    }}</p>
                                <ul class="slider-btn rounded-buttons">
                                    <li><a i18n="@@sectionSolution1ButtonText" class="main-btn rounded-one"
                                            href="https://myimmo-frontend.itwiththebest.com/register"
                                            target="_blank">{{'SOLUTION1.BEGIN' | translate }}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="slider-image">
                                <img src="assets/images/slider/2.png" alt="Hero">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="white-area">
    <div class="container">
        <div class="row compare-area-table justify-content-center">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="justify-content-between">
                            <div>
                                <img src="assets/images/marketing/Image-11-3.svg" alt="Shape">
                            </div>
                            <h4 i18n="@@featureNotificationTitle" class="features-title center ">
                                {{'SOLUTION1.ITEM1_TITLE' | translate }}
                            </h4>
                        </div>
                        <div class="features-content">
                            <p i18n="@@featureNotificationText" class="text grey">{{'SOLUTION1.ITEM1_TEXT' | translate
                                }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="justify-content-between">
                            <div>
                                <img src="assets/images/marketing/Image-11-1.svg" alt="Shape">
                            </div>
                            <h4 i18n="@@featureComputationTitle" class="features-title center">{{'SOLUTION1.ITEM2_TITLE'
                                | translate }}
                            </h4>
                        </div>
                        <div class="features-content">
                            <p i18n="@@featureComputationText" class="text grey">{{'SOLUTION1.ITEM2_TEXT' | translate
                                }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="justify-content-between">
                            <div>
                                <img src="assets/images/marketing/Image-11-2.svg" alt="Shape">
                            </div>
                            <h4 i18n="@@featureRPATitle" class="features-title center">{{'SOLUTION1.ITEM3_TITLE' |
                                translate }}</h4>
                        </div>
                        <div class="features-content">
                            <p i18n="@@featureRPAText" class="text grey">{{'SOLUTION1.ITEM3_TEXT' | translate
                                }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-footer">
            <ul class="slider-btn rounded-buttons">
                <li><a i18n="@@buttonCreateAccountText" class="main-btn rounded-one"
                        href="https://myimmo-frontend.itwiththebest.com/register"
                        target="_blank">{{'SOLUTION1.CREATE_ACCOUNT' | translate }}</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="gray-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 vertical-align-content">
                <div class="left">
                    <h1 i18n="@@featureAutomaticAccountancyTitle" class="features-title left">
                        {{'SOLUTION1.ITEM4_TITLE' | translate }}
                    </h1>
                    <p i18n="@@featureAutomaticAccountancyText" class="text grey">{{'SOLUTION1.ITEM4_TEXT' |
                        translate }}
                    </p>
                </div>
            </div>
            <div class="col-lg-5 features-image">
                <img src="assets/images/marketing/Mobile-Management.svg" alt="Hero">
            </div>
        </div>
        <div class="section-footer">
            <ul class="slider-btn rounded-buttons">
                <li><a i18n="@@buttonCreateAccountText" class="main-btn rounded-one"
                        href="https://myimmo-frontend.itwiththebest.com//register"
                        target="_blank">{{'SOLUTION1.CREATE_ACCOUNT' | translate }}</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="white-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 features-image left">
                <img src="assets/images/marketing/Lease-Automation.svg" alt="Hero">
            </div>
            <div class="col-lg-7 vertical-align-content">
                <div class="left">
                    <h1 i18n="@@featureAutomaticLatePaymentsTitle" class="features-title">{{'SOLUTION1.ITEM5_TITLE' |
                        translate }}
                    </h1>
                    <p i18n="@@featureAutomaticLatePaymentsText" class="text grey">{{'SOLUTION1.ITEM5_TEXT' | translate
                        }}
                    </p>
                </div>
            </div>
        </div>
        <div class="section-footer">
            <ul class="slider-btn rounded-buttons">
                <li><a i18n="@@buttonCreateAccountText" class="main-btn rounded-one"
                        href="https://myimmo-frontend.itwiththebest.com//register"
                        target="_blank">{{'SOLUTION1.CREATE_ACCOUNT' | translate }}</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="gray-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 vertical-align-content">
                <div class="left">
                    <h1 i18n="@@featureAutomaticZIPTitle" class="features-title left">{{'SOLUTION1.ITEM6_TITLE' |
                        translate }}
                    </h1>
                    <p i18n="@@featureAutomaticZIPText" class="text grey">{{'SOLUTION1.ITEM6_TEXT' | translate }}
                    </p>
                </div>
            </div>
            <div class="col-lg-5 features-image">
                <img src="assets/images/marketing/Image-12-0.svg" alt="Hero">
            </div>
        </div>
        <div class="section-footer">
            <ul class="slider-btn rounded-buttons">
                <li><a i18n="@@buttonCreateAccountText" class="main-btn rounded-one"
                        href="https://myimmo-frontend.itwiththebest.com//register"
                        target="_blank">{{'SOLUTION1.CREATE_ACCOUNT' | translate }}</a></li>
            </ul>
        </div>
    </div>
</section>