<section id="home" class="slider_area">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="slider-content">&nbsp;</div>
        </div>
    </div>
</section>

<section id="pricing" class="compare-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10">
                <div class="section-title text-center pb-25">
                    <h3 class="title">Detaliere plan tarifar</h3>
                    <p class="text">Detalierea planului tarifar pe optiuni si pe plan-urile posibile.</p>
                </div>
            </div>
        </div>

        <div class="row compare-area-table justify-content-center mb-30">
            <table style="width: 100%;">
                <tr>
                    <th style="width: 25%;">
                        <div class="compare-table-header">Functionalitati</div>
                    </th>
                    <th style="width: 25%;">
                        <div class="compare-table-header" style="color: #0067f4; text-align: center;">Start Plan</div>
                    </th>
                    <th style="width: 25%;">
                        <div class="compare-table-header" style="color: #0067f4;; text-align: center;">Smart Plan</div>
                    </th>
                    <th style="width: 25%;">
                        <div class="compare-table-header" style="color: #0067f4;; text-align: center;">Scale Plan</div>
                    </th>
                </tr>
                <tr>
                    <td>
                        <div class="compare-table-row-name">Unitati incluse</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item">1 unitate</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item">1 unitate</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item">1 unitate</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="compare-table-row-name">Unitate extra</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item">EUR 1 per unitate/luna</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item">EUR 1 per unitate/luna</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item">EUR 1 per unitate/luna</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="compare-table-row-name">Suport tehnic</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item">Basic</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item">Priority</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item">Top</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="compare-table-row-name">Access multi-user</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">-</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="compare-table-row-name">Proprietar multiplu</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">-</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="compare-table-row-name">Declaratii ANAF</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">-</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="compare-table-row-name">Desktop/iOS/Android</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="compare-table-row-name">Venituri</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="compare-table-row-name">Cheltuieli</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="compare-table-row-name">Notificari email</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="compare-table-row-name">Notificari SMS</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">-</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">-</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="compare-table-row-name">Documente cloud</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item">10 documente</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="compare-table-row-name">Notificari customizabile</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">-</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="compare-table-row-name">Dashboard</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="compare-table-row-name">Portal chirias</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item bold">&#10003;</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="compare-table-row-item">&nbsp;</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item">&nbsp;</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item">&nbsp;</div>
                    </td>
                    <td>
                        <div class="compare-table-row-item">&nbsp;</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>

<section class="about-area">
    <div class="container">
        <div class="row">
            <div class="faq-content">
                <div class="about-title">
                    <h6 class="sub-title">Detalii aditionale</h6>
                    <h4 class="title">Intrebari frecvente <br> despre plan tarifar </h4>
                </div>
                <div class="about-accordion">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">Ma costa in plus incasarea
                                    facturilor si/sau a chiriei lunare?
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="text">Nu, plata acestora se face direct in contul proprietarului
                                        specificat in mesajul de notificare.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">Ce inseamna proprietar multiplu?
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="text">Proprietar multiplu se refera la faptul ca pot sa fie doi
                                        utilizatori care pot accesa in "mod proprietar" o anumita lista de proprietati.
                                        De exemplu un administrator si proprietarul actual.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>