<section id="home" class="slider_area">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="slider-content">&nbsp;</div>
        </div>
    </div>
</section>

<section id="pricing" class="compare-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10">
                <div class="section-title text-center pb-25">
                    <h3 i18n="@@sectionPricingTitle" class="title">Detaliere plan tarifar</h3>
                    <p i18n="@@sectionPricingText" class="text">Detalierea planului tarifar pe opțiuni și pe plan-urile
                        posibile.</p>
                </div>
            </div>
        </div>

        <div class="row compare-area-table justify-content-center mb-30">
            <table style="width: 100%;">
                <tr>
                    <th style="width: 25%;">
                        <div i18n="@@featureFunctionalityTitle" class="compare-table-header">Funcționalități</div>
                    </th>
                    <th style="width: 25%;">
                        <div i18n="@@featureStartPlanTitle" class="compare-table-header"
                            style="color: #0067f4; text-align: center;">Start Plan</div>
                    </th>
                    <th style="width: 25%;">
                        <div i18n="@@featureSmartPlanTitle" class="compare-table-header"
                            style="color: #0067f4;; text-align: center;">Smart Plan</div>
                    </th>
                    <th style="width: 25%;">
                        <div i18n="@@featureScalePlanTitle" class="compare-table-header"
                            style="color: #0067f4;; text-align: center;">Scale Plan</div>
                    </th>
                </tr>
                <tr>
                    <td>
                        <div i18n="@@item1Title" class="compare-table-row-name">Unități incluse</div>
                    </td>
                    <td>
                        <div i18n="@@item1StartText" class="compare-table-row-item">1 unitate</div>
                    </td>
                    <td>
                        <div i18n="@@item1SmartText" class="compare-table-row-item">1 unitate</div>
                    </td>
                    <td>
                        <div i18n="@@item1ScaleText" class="compare-table-row-item">1 unitate</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div i18n="@@item2Title" class="compare-table-row-name">Unitate extra</div>
                    </td>
                    <td>
                        <div i18n="@@item2StartText" class="compare-table-row-item">EUR 1 per unitate/lună</div>
                    </td>
                    <td>
                        <div i18n="@@item2SmartText" class="compare-table-row-item">EUR 1 per unitate/lună</div>
                    </td>
                    <td>
                        <div i18n="@@item2ScaleText" class="compare-table-row-item">EUR 1 per unitate/lună</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div i18n="@@item3Title" class="compare-table-row-name">Suport tehnic</div>
                    </td>
                    <td>
                        <div i18n="@@item3StartText" class="compare-table-row-item">Basic</div>
                    </td>
                    <td>
                        <div i18n="@@item3SmartText" class="compare-table-row-item">Priority</div>
                    </td>
                    <td>
                        <div i18n="@@item3ScaleText" class="compare-table-row-item">Top</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div i18n="@@item4Title" class="compare-table-row-name">Access multi-user</div>
                    </td>
                    <td>
                        <div i18n="@@item4StartText" class="compare-table-row-item bold">-</div>
                    </td>
                    <td>
                        <div i18n="@@item4SmartText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div i18n="@@item4ScaleText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div i18n="@@item5Title" class="compare-table-row-name">Proprietar multiplu</div>
                    </td>
                    <td>
                        <div i18n="@@item5StartText" class="compare-table-row-item bold">-</div>
                    </td>
                    <td>
                        <div i18n="@@item5SmartText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div i18n="@@item5ScaleText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div i18n="@@item6Title" class="compare-table-row-name">Declarații ANAF</div>
                    </td>
                    <td>
                        <div i18n="@@item6StartText" class="compare-table-row-item bold">-</div>
                    </td>
                    <td>
                        <div i18n="@@item6SmartText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div i18n="@@item6ScaleText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div i18n="@@item7Title" class="compare-table-row-name">Desktop/iOS/Android</div>
                    </td>
                    <td>
                        <div i18n="@@item7StartText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div i18n="@@item7SmartText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div i18n="@@item7ScaleText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div i18n="@@item8Title" class="compare-table-row-name">Venituri</div>
                    </td>
                    <td>
                        <div i18n="@@item8StartText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div i18n="@@item8SmartText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div i18n="@@item8ScaleText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div i18n="@@item9Title" class="compare-table-row-name">Cheltuieli</div>
                    </td>
                    <td>
                        <div i18n="@@item9StartText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div i18n="@@item9SmartText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div i18n="@@item9ScaleText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div i18n="@@item10Title" class="compare-table-row-name">Notificări email</div>
                    </td>
                    <td>
                        <div i18n="@@item10StartText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div i18n="@@item10SmartText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div i18n="@@item10ScaleText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div i18n="@@item11Title" class="compare-table-row-name">Notificări SMS</div>
                    </td>
                    <td>
                        <div i18n="@@item11StartText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div i18n="@@item11SmartText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div i18n="@@item11ScaleText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div i18n="@@item12Title" class="compare-table-row-name">Documente cloud</div>
                    </td>
                    <td>
                        <div i18n="@@item12StartText" class="compare-table-row-item bold">10 documente</div>
                    </td>
                    <td>
                        <div i18n="@@item12SmartText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div i18n="@@item12ScaleText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div i18n="@@item13Title" class="compare-table-row-name">Notificări customizabile</div>
                    </td>
                    <td>
                        <div i18n="@@item13StartText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div i18n="@@item13SmartText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div i18n="@@item13ScaleText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div i18n="@@item14Title" class="compare-table-row-name">Dashboard</div>
                    </td>
                    <td>
                        <div i18n="@@item14StartText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div i18n="@@item14SmartText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div i18n="@@item14ScaleText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div i18n="@@item15Title" class="compare-table-row-name">Portal chiriaș</div>
                    </td>
                    <td>
                        <div i18n="@@item15StartText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div i18n="@@item15SmartText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                    <td>
                        <div i18n="@@item15ScaleText" class="compare-table-row-item bold">&#10003;</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div i18n="@@item16Title" class="compare-table-row-name">&nbsp;</div>
                    </td>
                    <td>
                        <div i18n="@@item16StartText" class="compare-table-row-item bold">&nbsp;</div>
                    </td>
                    <td>
                        <div i18n="@@item16SmartText" class="compare-table-row-item bold">&nbsp;</div>
                    </td>
                    <td>
                        <div i18n="@@item16ScaleText" class="compare-table-row-item bold">&nbsp;</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</section>

<section class="about-area">
    <div class="container">
        <div class="row">
            <div class="faq-content">
                <div class="about-title">
                    <h6 i18n="@@sectionAdditionalDetailsTitle" class="sub-title">Detalii adiționale</h6>
                    <h4 i18n="@@sectionAdditionalDetailsText" class="title">Intrebări frecvente <br> despre plan tarifar
                    </h4>
                </div>
                <div class="about-accordion">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <a i18n="@@question1Text" href="#" class="collapsed" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Mă
                                    costă în plus încasarea
                                    facturilor și/sau a chiriei lunare?
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <p i18n="@@question1Answer" class="text">Nu, plata acestora se face direct în contul
                                        proprietarului
                                        specificat în mesajul de notificare.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <a i18n="@@question2Text" href="#" class="collapsed" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Ce
                                    înseamnă proprietar multiplu?
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <p i18n="@@question2Answer" class="text">Proprietar multiplu se referă la faptul că
                                        pot să fie doi
                                        utilizatori care pot accesa în "mod proprietar" o anumită listă de proprietăți.
                                        De exemplu un administrator și proprietarul actual.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>