.slider-content {
    padding: 0px 0px 100px 0px;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.white-area {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 80px;
}

.gray-area {
    background-color: #f4f6f7;
    padding-top: 50px;
    padding-bottom: 80px;
}

.single-features {
    padding: 0 0 0 0;
    height: 100%;
}

.features-title {
    cursor: pointer;
}

.features-title-icon {
    padding: 25px 10px 15px 10px;
    position: relative;
}

.features-content {
    padding: 25px 10px 0px 10px;
}

.features-btn {
    left: 30px;
    bottom: -30px;
    position: absolute;
    cursor: pointer;
}