<section id="home" class="slider_area">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="slider-content">&nbsp;</div>
        </div>
    </div>
</section>

<section class="white-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section-title text-center pb-10">
                    <h3 class="title">Descarca documente si sabloane</h3>
                    <p class="text">Diferite sabloane documente folosite pentru inchiriere.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single-features mt-40">
                    <div class="features-title-icon d-flex justify-content-between">
                        <h4 class="features-title"><a href="#">Contract inchiriere</a></h4>
                        <div class="features-icon">
                            <i class="lni lni-display-alt"></i>
                            <img class="shape" src="assets/images/f-shape-1.svg" alt="Shape">
                        </div>
                    </div>
                    <div class="features-content">
                        <p class="text">Sablon folosit pentru contract de inchiriere intre un proprietar si un chirias.
                        </p>
                        <a class="features-btn" href="/#">Descarca document (In curand)</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single-features mt-40">
                    <div class="features-title-icon d-flex justify-content-between">
                        <h4 class="features-title"><a href="#">Anexa inventar inchiriere</a></h4>
                        <div class="features-icon">
                            <i class="lni lni-files"></i>
                            <img class="shape" src="assets/images/f-shape-1.svg" alt="Shape">
                        </div>
                    </div>
                    <div class="features-content">
                        <p class="text">Anexa la contract, proces verbal de predare primire semnat la momentul semnarii
                            contractului.</p>
                        <a class="features-btn" href="/#">Descarca document (In curand)</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single-features mt-40">
                    <div class="features-title-icon d-flex justify-content-between">
                        <h4 class="features-title"><a href="#">Anexa contract</a></h4>
                        <div class="features-icon">
                            <i class="lni lni-layers"></i>
                            <img class="shape" src="assets/images/f-shape-1.svg" alt="Shape">
                        </div>
                    </div>
                    <div class="features-content">
                        <p class="text">Solutie completa care acopera toate aspectele legate de managementul unei
                            proprietati si a contractelor de inchiriere.</p>
                        <a class="features-btn" href="/#">Descarca document (In curand)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>