<!--====== SLIDER PART START ======-->
<section id="home" class="slider_area">
    <div id="carouselThree" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="slider-content">
                                <h1 i18n="@@sectionSolution3Title" class="title">
                                    {{'SOLUTION3.TITLE' | translate }}
                                </h1>
                                <p i18n="@@sectionSolution3Subtitle" class="text white">
                                    {{'SOLUTION3.SUBTITLE' | translate }}
                                </p>
                                <p i18n="@@sectionSolution3Text" class="text white">
                                    {{'SOLUTION3.TEXT' | translate }}
                                </p>
                                <ul class="slider-btn rounded-buttons">
                                    <li><a i18n="@@sectionSolution3ButtonText" class="main-btn rounded-one"
                                            href="https://myimmo-frontend.itwiththebest.com//register"
                                            target="_blank">{{'SOLUTION3.BEGIN' | translate }}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="slider-image">
                                <img src="assets/images/marketing/Centralized-CRM.svg" alt="Hero">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== SLIDER PART ENDS ======-->

<section class="white-area">
    <div class="container">
        <div class="row compare-area-table justify-content-center">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="justify-content-between">
                            <div>
                                <img src="assets/images/marketing/Image-12-3.svg" alt="Shape">
                            </div>
                            <h4 i18n="@@feature1Title" class="features-title center ">
                                {{'SOLUTION3.FEATURE1_TITLE' | translate }}
                            </h4>
                        </div>
                        <div class="features-content">
                            <p i18n="@@feature1Text" class="text grey">
                                {{'SOLUTION3.FEATURE1_TEXT' | translate }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="justify-content-between">
                            <div>
                                <img src="assets/images/marketing/Image-12-1.svg" alt="Shape">
                            </div>
                            <h4 i18n="@@feature2Title" class="features-title center">
                                {{'SOLUTION3.FEATURE2_TITLE' | translate }}
                            </h4>
                        </div>
                        <div class="features-content">
                            <p i18n="@@feature2Text" class="text grey">
                                {{'SOLUTION3.FEATURE2_TEXT' | translate }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="justify-content-between">
                            <div>
                                <img src="assets/images/marketing/Image-12-2.svg" alt="Shape">
                            </div>
                            <h4 i18n="@@feature3Title" class="features-title center">
                                {{'SOLUTION3.FEATURE3_TITLE' | translate }}
                            </h4>
                        </div>
                        <div class="features-content">
                            <p i18n="@@feature3Text" class="text grey">
                                {{'SOLUTION3.FEATURE3_TEXT' | translate }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-footer">
            <ul class="slider-btn rounded-buttons">
                <li><a i18n="@@featureCreateAccountButtonText" class="main-btn rounded-one"
                        href="https://myimmo-frontend.itwiththebest.com//register" target="_blank">
                        {{'SOLUTION3.CREATE_ACCOUNT' | translate }}
                    </a></li>
            </ul>
        </div>
    </div>
</section>

<section class="gray-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 vertical-align-content">
                <div class="left">
                    <h1 i18n="@@featureReportTitle" class="features-title left">
                        {{'SOLUTION3.EXTRA_DETAILS_TITLE' | translate }}
                    </h1>
                    <p i18n="@@featureReportText" class="text grey">
                        {{'SOLUTION3.EXTRA_DETAILS_SUBTITLE' | translate }}
                    </p>
                    <ul class="text grey">
                        <li i18n="@@featureItem1Title"> {{'SOLUTION3.REPORT_FEATURE1_TITLE' | translate }} </li>
                        <li i18n="@@featureItem2Title"> {{'SOLUTION3.REPORT_FEATURE2_TITLE' | translate }} </li>
                        <li i18n="@@featureItem3Title"> {{'SOLUTION3.REPORT_FEATURE3_TITLE' | translate }}</li>
                        <li i18n="@@featureItem4Title"> {{'SOLUTION3.REPORT_FEATURE4_TITLE' | translate }} </li>
                        <li i18n="@@featureItem5Title"> {{'SOLUTION3.REPORT_FEATURE5_TITLE' | translate }} </li>
                        <li i18n="@@featureItem6Title"> {{'SOLUTION3.REPORT_FEATURE6_TITLE' | translate }} </li>
                        <li i18n="@@featureItem7Title"> {{'SOLUTION3.REPORT_FEATURE_ADDITIONAL_ITEMS' | translate }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 features-image">
                <img src="assets/images/marketing/Report-Two-UK.svg" alt="Hero">
            </div> <!-- slider-imgae box -->
            <div i18n="@@featureCreateAccountText" class="text center mt-40">
                {{'SOLUTION3.EXTRA_DETAILS_TEXT' | translate }}
            </div>
        </div>
        <div class="section-footer">
            <ul class="slider-btn rounded-buttons">
                <li><a i18n="@@featureCreateAccountButtonText" class="main-btn rounded-one"
                        href="https://myimmo-frontend.itwiththebest.com//register"
                        target="_blank">{{'SOLUTION3.CREATE_ACCOUNT' | translate }}</a></li>
            </ul>
        </div>
    </div>
</section>