<!--====== SLIDER PART START ======-->
<section id="home" class="slider_area">
    <div id="carouselThree" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="slider-content">
                                <h1 class="title">Rapoarte profesionale </h1>
                                <p class="text white">Rapoarte profesionale in doar cateva click-uri.</p>
                                <p class="text white">
                                    Obtineti informatii detaliate despre performanta portofoliului si intelegeti mai mai
                                    bine ce actiuni trebuie intreprinse pentru a imbunatati rentabiliatea.
                                    Calcularea impozitelor anuale (locale, ANAF) mult mai usor, centralizat pe tot
                                    portofoliul de imobile.
                                </p>
                                <ul class="slider-btn rounded-buttons">
                                    <li><a class="main-btn rounded-one"
                                            href="http://mylb-868721875.eu-central-1.elb.amazonaws.com:2001/register"
                                            target="_blank">Incepe aici</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="slider-image">
                                <img src="assets/images/marketing/Centralized_CRM.svg" alt="Hero">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== SLIDER PART ENDS ======-->

<section class="white-area">
    <div class="container">
        <div class="row compare-area-table justify-content-center">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="justify-content-between">
                            <div>
                                <img src="assets/images/marketing/Image-12-3.svg" alt="Shape">
                            </div>
                            <h4 class="features-title center ">Customizari</h4>
                        </div>
                        <div class="features-content">
                            <p class="text grey">
                                Orice raport poate sa fie customizat in functie de data start final, proprietate,
                                administrator, proprietari, plati sau categorii de cheltuieli.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="justify-content-between">
                            <div>
                                <img src="assets/images/marketing/Image-12-1.svg" alt="Shape">
                            </div>
                            <h4 class="features-title center">Templateuri profesionale</h4>
                        </div>
                        <div class="features-content">
                            <p class="text grey">
                                Se pot alege sabloane profesionale pe baza carora se pot genera rapoarte instant pe
                                orice dispozitiv (PC, Mobile).
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="justify-content-between">
                            <div>
                                <img src="assets/images/marketing/Image-12-2.svg" alt="Shape">
                            </div>
                            <h4 class="features-title center">Partajare
                            </h4>
                        </div>
                        <div class="features-content">
                            <p class="text grey">
                                Rapoartele se pot partaja cu alti membri ai aplicatiei (parteneri, angajati sau
                                contabil) direct din aplicatie via portal web sau mobil.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-footer">
            <ul class="slider-btn rounded-buttons">
                <li><a class="main-btn rounded-one"
                        href="http://mylb-868721875.eu-central-1.elb.amazonaws.com:2001/register" target="_blank">Creare
                        cont</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="gray-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 vertical-align-content">
                <div class="left">
                    <h1 class="features-title left">Raportare</h1>
                    <p class="text grey">
                        Eliminare erori generate de interactiunea umana si crestere a rapiditatii in procesul de
                        contabilitate folosind myImmoAssist.
                    </p>
                    <ul class="text grey">
                        <li>Profitabilitate vs pierderi </li>
                        <li>Raport intarzieri la plata chiriei </li>
                        <li>Raport notificari </li>
                        <li>Raport intarzieri la plata cheltuielilor utilitati </li>
                        <li>Raport plati efectuate </li>
                        <li>Raport plati lunare efectuate/neefectuate </li>
                        <li>si multe altele ... </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 features-image">
                <img src="assets/images/marketing/Report_Two_UK.svg" alt="Hero">
            </div> <!-- slider-imgae box -->
            <div class="text center mt-40">
                Adaugam si imbunatatim in mod constant functionalitatea repoartelor. Daca aveti intrebari sau orice
                parere pe baza careia functionalitatea poate sa fie imbunatatita, va rugam, nu ezitati sa ne contactati.
            </div>
        </div>
        <div class="section-footer">
            <ul class="slider-btn rounded-buttons">
                <li><a class="main-btn rounded-one"
                        href="http://mylb-868721875.eu-central-1.elb.amazonaws.com:2001/register" target="_blank">Creare
                        cont</a></li>
            </ul>
        </div>
    </div>
</section>