<!--====== SLIDER PART START ======-->
<section id="home" class="slider_area">
    <div id="carouselThree" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="slider-content">
                                <h1 i18n="@@sectionSolution2Title" class="title">
                                    {{'SOLUTION2.TITLE' | translate }}
                                </h1>
                                <p i18n="@@sectionSolution2Text" class="text white">
                                    {{'SOLUTION2.TEXT' | translate }}
                                </p>
                                <ul class="slider-btn rounded-buttons">
                                    <li><a i18n="@@sectionSolution2ButtonText" class="main-btn rounded-one"
                                            href="http://mylb-868721875.eu-central-1.elb.amazonaws.com:2001/register"
                                            target="_blank">{{'SOLUTION2.BEGIN' | translate }}</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="slider-image">
                                <img src="assets/images/marketing/Top.svg" alt="Hero">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== SLIDER PART ENDS ======-->

<section class="white-area">
    <div class="container">
        <div i18n="@@featureCollectRentTitle" class="features-title center">
            {{'SOLUTION2.SECTION_TITLE' | translate }}
        </div>
        <div i18n="@@featureCollectRentText" class="text center">
            {{'SOLUTION2.SECTION_TEXT' | translate }}
        </div>
        <div class="row compare-area-table justify-content-center">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="justify-content-between">
                            <div>
                                <img src="assets/images/marketing/Image-08.svg" alt="Shape">
                            </div>
                            <h4 i18n="@@feature1Title" class="features-title center ">
                                {{'SOLUTION2.FEATURE1_TITLE' | translate }}
                            </h4>
                        </div>
                        <div class="features-content">
                            <p i18n="@@feature1Text" class="text grey">
                                {{'SOLUTION2.FEATURE1_TEXT' | translate }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="justify-content-between">
                            <div>
                                <img src="assets/images/marketing/Image-08-1.svg" alt="Shape">
                            </div>
                            <h4 i18n="@@feature2Title" class="features-title center">
                                {{'SOLUTION2.FEATURE2_TITLE' | translate }}
                            </h4>
                        </div>
                        <div class="features-content">
                            <p i18n="@@feature2Text" class="text grey">
                                {{'SOLUTION2.FEATURE2_TEXT' | translate }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="justify-content-between">
                            <div>
                                <img src="assets/images/marketing/Image-08-2.svg" alt="Shape">
                            </div>
                            <h4 i18n="@@feature3Title" class="features-title center">
                                {{'SOLUTION2.FEATURE3_TITLE' | translate }}
                            </h4>
                        </div>
                        <div class="features-content">
                            <p i18n="@@feature3Text" class="text grey">
                                {{'SOLUTION2.FEATURE3_TEXT' | translate }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-footer">
            <ul class="slider-btn rounded-buttons">
                <li><a i18n="@@featureButtonText" class="main-btn rounded-one"
                        href="http://mylb-868721875.eu-central-1.elb.amazonaws.com:2001/register" target="_blank">
                        {{'SOLUTION1.CREATE_ACCOUNT' | translate }}</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="gray-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 vertical-align-content">
                <div class="left">
                    <h1 i18n="@@feature4Title" class="features-title left">{{'SOLUTION2.EXTRA_DETAILS_TITLE' |
                        translate }}

                    </h1>
                    <p i18n="@@feature4Title" class="text grey">
                        {{'SOLUTION2.EXTRA_DETAILS_SUBTITLE' | translate }}
                    </p>
                </div>
            </div>
            <div class="col-lg-5 features-image">
                <img src="assets/images/marketing/Bottom.svg" alt="Hero">
            </div>
            <div i18n="@@feature4Title" class="text center mt-40">
                {{'SOLUTION2.EXTRA_DETAILS_TEXT' | translate }}
            </div>
        </div>
        <div class="section-footer">
            <ul class="slider-btn rounded-buttons">
                <li><a i18n="@@featureButtonText" class="main-btn rounded-one"
                        href="http://mylb-868721875.eu-central-1.elb.amazonaws.com:2001/register" target="_blank">
                        {{'SOLUTION1.CREATE_ACCOUNT' | translate }}</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="about-area">
    <div class="container">
        <div class="row">
            <div class="faq-content">
                <div class="about-title">
                    <h6 i18n="@@faqTitle" class="sub-title">{{'SOLUTION2.QA_TITLE' | translate }}</h6>
                    <h4 i18n="@@faqSubtitleText" class="title">{{'SOLUTION2.QA_TEXT' | translate }}</h4>
                </div> <!-- faq title -->
                <div class="about-accordion">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <a i18n="@@question1Title" href="#" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                    {{'SOLUTION2.QUESTION_1' | translate}}
                                </a>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <p i18n="@@question1Answer" class="text">
                                        {{'SOLUTION2.QUESTION_1_ANSWER' | translate}}
                                    </p>
                                </div>
                            </div>
                        </div> <!-- card -->
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <a i18n="@@question2Title" href="#" class="collapsed" data-toggle="collapse"
                                    data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    {{'SOLUTION2.QUESTION_2' | translate }}
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <p i18n="@@question2Answer" class="text">
                                        {{'SOLUTION2.QUESTION_2_ANSWER' | translate }}
                                    </p>
                                </div>
                            </div>
                        </div> <!-- card -->
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <a i18n="@@question3Title" href="#" class="collapsed" data-toggle="collapse"
                                    data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    {{'SOLUTION2.QUESTION_3' | translate }}
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <p i18n="@@question3Answer" class="text">
                                        {{'SOLUTION2.QUESTION_3_ANSWER' | translate }}
                                    </p>
                                </div>
                            </div>
                        </div> <!-- card -->
                        <!-- <div class="card">
                            <div class="card-header" id="headingFore">
                                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFore"
                                    aria-expanded="false" aria-controls="collapseFore">Can Tenants Set up Automatic
                                    Payments?
                                </a>
                            </div>
                            <div id="collapseFore" class="collapse" aria-labelledby="headingFore"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="text">Yes, once they’ve created their account they can turn on auto-pay
                                        and set the payment to be made the same time each month.
                                    </p>
                                </div>
                            </div>
                        </div>  -->
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <a i18n="@@question4Title" href="#" class="collapsed" data-toggle="collapse"
                                    data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    {{'SOLUTION2.QUESTION_4' | translate }}
                                </a>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <p i18n="@@question4Answer" class="text">
                                        {{'SOLUTION2.QUESTION_4_ANSWER' | translate }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>