<!--====== SLIDER PART START ======-->
<section id="home" class="slider_area">
    <div id="carouselThree" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="slider-content">
                                <h1 class="title">Colectare plati</h1>
                                <p class="text white">
                                    Colectari online de plati fara niciun efort (In curand).
                                    Colectarea chiriei in persoana este un proces incet si nerealist cand este vorba de
                                    un portofoliu mare. Folosind myImmoAssist procesul de colectare poate sa fie
                                    automatizat. Este un mod rapid, usor si face colectarea chirieri in persoana
                                    istorie.
                                </p>
                                <ul class="slider-btn rounded-buttons">
                                    <li><a class="main-btn rounded-one"
                                            href="http://mylb-868721875.eu-central-1.elb.amazonaws.com:2001/register"
                                            target="_blank">Incepe aici</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="slider-image">
                                <img src="assets/images/marketing/Top.svg" alt="Hero">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--====== SLIDER PART ENDS ======-->

<section class="white-area">
    <div class="container">
        <div class="features-title center">
            Colectarea chiriei online fara niciun efort
        </div>
        <div class="text center">
            Tot procesul de colectare/validare devine mai usor folosind functia auto-pay si automatizarile legate de
            cheltuieli per proprietate.
        </div>
        <div class="row compare-area-table justify-content-center">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="justify-content-between">
                            <div>
                                <img src="assets/images/marketing/Image-08.svg" alt="Shape">
                            </div>
                            <h4 class="features-title center ">
                                Activare colectare online
                            </h4>
                        </div>
                        <div class="features-content">
                            <p class="text grey">
                                Activare colectare online a platilor inregistrate in sistemul myImmoAssist.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="justify-content-between">
                            <div>
                                <img src="assets/images/marketing/Image-08-1.svg" alt="Shape">
                            </div>
                            <h4 class="features-title center">Valideaza identitate</h4>
                        </div>
                        <div class="features-content">
                            <p class="text grey">Confirmarea identitatii printr-o verificare de securitate a
                                identitatii.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7 col-sm-9">
                    <div class="single-features mt-40">
                        <div class="justify-content-between">
                            <div>
                                <img src="assets/images/marketing/Image-08-2.svg" alt="Shape">
                            </div>
                            <h4 class="features-title center">Conectarea contului bancar
                            </h4>
                        </div>
                        <div class="features-content">
                            <p class="text grey">
                                Conectatea contului bancar in care chiriasii vor face plata lunara.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-footer">
            <ul class="slider-btn rounded-buttons">
                <li><a class="main-btn rounded-one"
                        href="http://mylb-868721875.eu-central-1.elb.amazonaws.com:2001/register" target="_blank">Creare
                        cont</a></li>
            </ul>
        </div>
    </div>
</section>

<section class="gray-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 vertical-align-content">
                <div class="left">
                    <h1 class="features-title left">Automatizarea colectei cheltuielilor lunare</h1>
                    <p class="text grey">
                        Folosind utilitarele de notificari plata, reconciliere cheltuieli si auto-pay, tot procesul de
                        colectare de cheltuieli si auditul acestora poate fi complet automat.
                    </p>
                </div>
            </div>
            <div class="col-lg-5 features-image">
                <img src="assets/images/marketing/Bottom.svg" alt="Hero">
            </div>
            <div class="text center mt-40">
                Inregistrari exacte
                Folosind aceste utilitare de automatizare nu mai este nevoie de validari manuale, navigari intre contul
                bancar si contul myImmoAssist, verificare facturi sau alte documente. Tot procesul este acoperit de
                catre aplicatia myImmoAssist si este complet transparent intre proprietar si chirias.
                (In curand)
            </div>
        </div>
        <div class="section-footer">
            <ul class="slider-btn rounded-buttons">
                <li><a class="main-btn rounded-one"
                        href="http://mylb-868721875.eu-central-1.elb.amazonaws.com:2001/register" target="_blank">Creare
                        cont</a></li>
            </ul>
        </div>
    </div>
</section>


<section class="about-area">
    <div class="container">
        <div class="row">
            <div class="faq-content">
                <div class="about-title">
                    <h6 class="sub-title">Detalii aditionale legate de plati online</h6>
                    <h4 class="title">Intrebari aditionale <br> despre plata online</h4>
                </div> <!-- faq title -->
                <div class="about-accordion">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">Cat de sigur este transferul?
                                </a>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="text">
                                        Modalitatea de plata online foloseste aplicatia smart2pay.
                                    </p>
                                </div>
                            </div>
                        </div> <!-- card -->
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">Ma costa ceva in plus?
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="text">
                                        Plata online este inclusa in fiecare plan cu 2 per tranzactie. Pentru mai multe
                                        detalii va rugam navigati la pagina de plati.</p>
                                </div>
                            </div>
                        </div> <!-- card -->
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">Cat timp dureaza ca fondurile
                                    sa-mi ajunga in contul meu?
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="text">
                                        Media de timp a transferului este undeva intre 1 si 5 zile lucratoare. Suntem in
                                        continua analiza de cautari de solutii de plati in mod instant.
                                    </p>
                                </div>
                            </div>
                        </div> <!-- card -->
                        <!-- <div class="card">
                            <div class="card-header" id="headingFore">
                                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFore"
                                    aria-expanded="false" aria-controls="collapseFore">Can Tenants Set up Automatic
                                    Payments?
                                </a>
                            </div>
                            <div id="collapseFore" class="collapse" aria-labelledby="headingFore"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="text">Yes, once they’ve created their account they can turn on auto-pay
                                        and set the payment to be made the same time each month.
                                    </p>
                                </div>
                            </div>
                        </div>  -->
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <a href="#" class="collapsed" data-toggle="collapse" data-target="#collapseFive"
                                    aria-expanded="false" aria-controls="collapseFive">Cum platesc chiriasii?
                                </a>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <p class="text">
                                        Chiriasul primeste un email/sms sau mesaj what's up cu un link de plata sau
                                        direct din aplicatia myImmoAssist folosind sectiunea de centralizatoare.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>