.contact-info-content {
    align-self: center;
}

.slider-content {
    padding-top: 150px;
    padding-bottom: 50px;
}

.slider-image {    
    width: 80%;
    position: relative;
    text-align: center;
    padding-right: 100px;
    img {        
        top: 180px;    
        position: absolute;
    };
}

.circle {
    font-size: 15px;
    line-height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    display: block;
}

.white-area {
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 80px;
}

.gray-area {
    background-color: #f4f6f7;
    padding-top: 50px;
    padding-bottom: 80px;
}

.features-title {
    font-family: "Lato",-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    text-transform: none;
    letter-spacing: 0;
    line-height: 50px;
    color: rgba(33,43,54,1);   
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.features-content {
    text-align: center;
    position: absolute;
    bottom: -40px;
}

.section-footer {
    text-align: center;
    padding-top: 50px;
}

.text {
    font-family: "Lato", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    text-transform: none;
    letter-spacing: 0;
    line-height: 30px;
}

.white {
    color: #fff;
}

.grey {
    color: rgba(62,78,87,1);
}

.vertical-align-content {
    margin: auto;
    width: 100%;
    // border: 3px solid green;
    //padding: 10px;
}

.features-image {
    text-align: right;
    img {        
        max-width: 100%;
    };
}

.faq-content {
    width: 100%;
}

.slider-content .title {
    font-size: 58px;
    line-height: 80px; 
    color: #fff;
    font-weight: 700; 
}