<section id="home" class="slider_area">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="slider-content">&nbsp;</div>
        </div>
    </div>
</section>

<section class="white-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section-title text-center pb-10">
                    <h3 class="title">{{ 'FOOTER.LEGAL_NOTES_TITLE' | translate }}</h3>
                    <p class="text">{{ 'FOOTER.LEGAL_NOTES_TEXT' | translate }}</p>
                </div>
                <div class="legal-content">
                    <div class="legal-section">
                        <h4>{{ 'FOOTER.LEGAL_NOTES_SECTION1_TITLE' | translate }}</h4>
                        <p>{{ 'FOOTER.LEGAL_NOTES_SECTION1_TEXT' | translate }}</p>
                    </div>
                    <div class="legal-section">
                        <h4>{{ 'FOOTER.LEGAL_NOTES_SECTION2_TITLE' | translate }}</h4>
                        <p>{{ 'FOOTER.LEGAL_NOTES_SECTION2_TEXT' | translate }}</p>
                    </div>
                    <div class="legal-section">
                        <h4>{{ 'FOOTER.LEGAL_NOTES_SECTION3_TITLE' | translate }}</h4>
                        <p>{{ 'FOOTER.LEGAL_NOTES_SECTION3_TEXT' | translate }}</p>
                    </div>
                    <div class="legal-section">
                        <h4>{{ 'FOOTER.LEGAL_NOTES_SECTION4_TITLE' | translate }}</h4>
                        <p>{{ 'FOOTER.LEGAL_NOTES_SECTION4_TEXT' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 