<!-- <div class="reply d-grid bg-white" >
    <div class="reply__image">
        <img [src]="currentUser.image.png" [alt]="currentUser.username">
    </div>
    <div class="reply__form">
        <textarea #textarea [placeholder]=" replyingTo? '' : 'Add a comment...'" class="text-area text-grayish-blue ff-rubik" [(ngModel)]="comment" name="reply" id="reply" cols="30" rows="10"></textarea>
    </div>
    <div class="reply__btn">
        <button class="btn bg-blue" (click)="addComment()">Send</button>
    </div>
</div> -->
