<section id="home" class="slider_area">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="slider-content">&nbsp;</div>
        </div>
    </div>
</section>

<section class="white-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section-title text-center pb-10">
                    <h3 class="title">Calculatoare gratuite</h3>
                    <p class="text">Calculatoare gratuite pentru proprietari si viitori proprietari.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single-features mt-40">
                    <div class="features-title-icon d-flex justify-content-between">
                        <h4 class="features-title"><a href="#">Calculator profitabilitate</a></h4>
                        <div class="features-icon">
                            <i class="lni lni-display-alt"></i>
                            <img class="shape" src="assets/images/f-shape-1.svg" alt="Shape">
                        </div>
                    </div>
                    <div class="features-content">
                        <p class="text">
                            Calculati fluxul de intrari-iesiri si profitabilitatea investitiei pe o anumita perioada
                            prin introducerea pretului, rentei lunare, cheltuieli anuale si rata de ocupare.
                        </p>
                        <a class="features-btn" href="/#">Calculeaza (In curand)</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single-features mt-40">
                    <div class="features-title-icon d-flex justify-content-between">
                        <h4 class="features-title"><a href="#">Calculator rata bancara</a></h4>
                        <div class="features-icon">
                            <i class="lni lni-files"></i>
                            <img class="shape" src="assets/images/f-shape-1.svg" alt="Shape">
                        </div>
                    </div>
                    <div class="features-content">
                        <p class="text">
                            In cazul in care sunteti in cautarea unei investitii in imobiliare dar nu sunteti sigur care
                            proprietate este cea mai buna, calculatorul nostru de rate se poate dovedi cea mai buna
                            unealta in acest scop.
                        </p>
                        <a class="features-btn" href="/#">Calculeaza (In curand)</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single-features mt-40">
                    <div class="features-title-icon d-flex justify-content-between">
                        <h4 class="features-title"><a href="#">Calcul chirie anticipata</a></h4>
                        <div class="features-icon">
                            <i class="lni lni-layers"></i>
                            <img class="shape" src="assets/images/f-shape-1.svg" alt="Shape">
                        </div>
                    </div>
                    <div class="features-content">
                        <p class="text">In cazul in care chiriasul nu se muta in prima zi a semnarii contractului, se
                            calculeaza rata necesara pentru a acoperi perioada.</p>
                        <a class="features-btn" href="/#">Calculeaza (In curand)</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>