<section id="home" class="slider_area">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="slider-content">&nbsp;</div>
        </div>
    </div>
</section>

<section class="white-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section-title text-center pb-10">
                    <h3 class="title">{{ 'CALCULATORS.TITLE' | translate }} </h3>
                    <p class="text">{{ 'CALCULATORS.TEXT' | translate }} </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single-features mt-40">
                    <div class="features-title-icon d-flex justify-content-between">
                        <h4 class="features-title"><a routerLink="/calculator1">{{
                                'CALCULATORS.FEATURE1_TITLE' | translate }}</a>
                        </h4>
                        <div class="features-icon">
                            <i class="lni lni-display-alt"></i>
                            <img class="shape" src="assets/images/Shape-1.svg" alt="Shape">
                        </div>
                    </div>
                    <div class="features-content">
                        <p class="text">{{ 'CALCULATORS.FEATURE1_TEXT' | translate }}</p>
                        <a class="features-btn" routerLink="/calculator1">{{ 'CALCULATORS.COMPUTE' |
                            translate }}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single-features mt-40">
                    <div class="features-title-icon d-flex justify-content-between">
                        <h4 class="features-title"><a routerLink="/calculator2">{{
                                'CALCULATORS.FEATURE2_TITLE' | translate }}</a></h4>
                        <div class="features-icon">
                            <i class="lni lni-files"></i>
                            <img class="shape" src="assets/images/Shape-1.svg" alt="Shape">
                        </div>
                    </div>
                    <div class="features-content">
                        <p class="text">{{ 'CALCULATORS.FEATURE2_TEXT' | translate }}</p>
                        <a class="features-btn" routerLink="/calculator2">{{ 'CALCULATORS.COMPUTE' |
                            translate }}</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-7 col-sm-9">
                <div class="single-features mt-40">
                    <div class="features-title-icon d-flex justify-content-between">
                        <h4 class="features-title"><a routerLink="/calculator3">{{ 'CALCULATORS.FEATURE3_TITLE' |
                                translate
                                }}</a></h4>
                        <div class="features-icon">
                            <i class="lni lni-layers"></i>
                            <img class="shape" src="assets/images/Shape-1.svg" alt="Shape">
                        </div>
                    </div>
                    <div class="features-content">
                        <p class="text">{{ 'CALCULATORS.FEATURE3_TEXT' | translate }}</p>
                        <a class="features-btn" routerLink="/calculator3">{{ 'CALCULATORS.COMPUTE' |
                            translate }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>