<section id="home" class="slider_area">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="slider-content">&nbsp;</div>
        </div>
    </div>
</section>

<section class="white-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section-title text-center pb-10">
                    <h3 class="title">{{ 'FOOTER.COLLABORATION_TITLE' | translate }}</h3>
                    <p class="text">{{ 'FOOTER.COLLABORATION_TEXT' | translate }}</p>
                </div>
                <div class="collaboration-content">
                    <div class="benefits-section">
                        <h4 class="section-subtitle">{{ 'FOOTER.COLLABORATION_BENEFITS_TITLE' | translate }}</h4>
                        <div class="benefits-grid">
                            <div class="benefit-item">
                                <i class="lni lni-target"></i>
                                <h5>{{ 'FOOTER.COLLABORATION_BENEFIT_1_TITLE' | translate }}</h5>
                                <p>{{ 'FOOTER.COLLABORATION_BENEFIT_1_DESC' | translate }}</p>
                            </div>
                            <div class="benefit-item">
                                <i class="lni lni-network"></i>
                                <h5>{{ 'FOOTER.COLLABORATION_BENEFIT_2_TITLE' | translate }}</h5>
                                <p>{{ 'FOOTER.COLLABORATION_BENEFIT_2_DESC' | translate }}</p>
                            </div>
                            <div class="benefit-item">
                                <i class="lni lni-grow"></i>
                                <h5>{{ 'FOOTER.COLLABORATION_BENEFIT_3_TITLE' | translate }}</h5>
                                <p>{{ 'FOOTER.COLLABORATION_BENEFIT_3_DESC' | translate }}</p>
                            </div>
                            <div class="benefit-item">
                                <i class="lni lni-handshake"></i>
                                <h5>{{ 'FOOTER.COLLABORATION_BENEFIT_4_TITLE' | translate }}</h5>
                                <p>{{ 'FOOTER.COLLABORATION_BENEFIT_4_DESC' | translate }}</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="partners-section">
                        <h4 class="section-subtitle">{{ 'FOOTER.COLLABORATION_PARTNERS_TITLE' | translate }}</h4>
                        <div class="partners-grid">
                            <div class="partner-card">
                                <img src="assets/images/partners/partner-1.png" alt="Partner 1">
                                <h5>{{ 'FOOTER.COLLABORATION_PARTNER_1_NAME' | translate }}</h5>
                                <p>{{ 'FOOTER.COLLABORATION_PARTNER_1_DESC' | translate }}</p>
                                <a href="#" class="learn-more">{{ 'FOOTER.COLLABORATION_LEARN_MORE' | translate }}</a>
                            </div>
                            <div class="partner-card">
                                <img src="assets/images/partners/partner-2.png" alt="Partner 2">
                                <h5>{{ 'FOOTER.COLLABORATION_PARTNER_2_NAME' | translate }}</h5>
                                <p>{{ 'FOOTER.COLLABORATION_PARTNER_2_DESC' | translate }}</p>
                                <a href="#" class="learn-more">{{ 'FOOTER.COLLABORATION_LEARN_MORE' | translate }}</a>
                            </div>
                            <div class="partner-card">
                                <img src="assets/images/partners/partner-3.png" alt="Partner 3">
                                <h5>{{ 'FOOTER.COLLABORATION_PARTNER_3_NAME' | translate }}</h5>
                                <p>{{ 'FOOTER.COLLABORATION_PARTNER_3_DESC' | translate }}</p>
                                <a href="#" class="learn-more">{{ 'FOOTER.COLLABORATION_LEARN_MORE' | translate }}</a>
                            </div>
                        </div>
                    </div> -->
                    <div class="contact-section">
                        <div class="contact-card">
                            <div class="contact-content">
                                <h4>{{ 'FOOTER.COLLABORATION_CONTACT_TITLE' | translate }}</h4>
                                <p>{{ 'FOOTER.COLLABORATION_CONTACT_TEXT' | translate }}</p>
                                <a href="mailto:sales@propero.io" class="btn btn-primary">
                                    {{ 'FOOTER.COLLABORATION_CONTACT_BUTTON' | translate }}
                                </a>
                            </div>
                            <div class="contact-image">
                                <img src="assets/images/collaboration/contact.svg" alt="Contact">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 